async-timeout == 3.0.1
blinker == 1.5
celery[redis] == 5.2.7
cryptography == 37.0.4
ddtrace == 1.6.1
discord.py == 1.7.3
flask == 2.2.2
flask-cors == 3.0.10
flask-login == 0.6.2
honeybadger == 0.13.0
is-safe-url == 1.0
mongoengine == 0.24.2
pynacl == 1.5.0
redis == 4.3.4
requests == 2.28.1
