blinker == 1.4
celery[redis] == 5.2.3
cryptography == 36.0.1
discord.py == 1.7.3
flask == 2.0.3
flask-cors == 3.0.10
flask-login == 0.5.0
honeybadger == 0.8.0
is-safe-url == 1.0
mongoengine == 0.24.0
redis == 4.1.4
requests == 2.27.1
