{% extends 'base.html' %}

{% block title %}
Tornium - Privacy Policy
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>

    <li class="breadcrumb-item active">
        <a href="/privacy">Privacy Policy</a>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body container-fluid">
        <h3 class="card-title">Tornium Privacy Policy</h3>

        <p class="card-subtitle"><b>Last Updated:</b> May 15th, 2025</p>
        <p class="card-text" style="color: white">
            Our privacy policy applies to information we collect when you use or access our website, application,
            or just interact with us. We may change this privacy policy from time to time. Whenever we make changes
            to this privacy policy, the changes are effective immediately after we post the revised privacy policy (as
            indicated by revising the date at the top of our privacy policy) as changes are frequently related to new
            or updated features. We encourage you to review our privacy policy whenever you access our services to
            stay informed about our information practices and the ways you can help protect your privacy.
        </p>

        <p class="card-text" style="color: white">
            This privacy policy does not apply to any third-party services or websites that may be linked to or
            integrate with our service, and we are not responsible for the privacy practices of these third parties.
        </p>

        <h5 class="card-subtitle">What we collect and why</h5>
        <p class="card-text" style="color: white">
            For an in-depth list of data collected and the purposes for each, please refer to the sections below
            or contact support via <a href="https://discord.gg/pPcqTRTRyF">Discord invite link</a> or
            <a href="https://www.torn.com/profiles.php?XID=2383326">Torn Mail</a>. All features require limited
            or full API access.
        </p>
        <p class="card-text" style="color: white">
            - API keys: we persistently store Torn API keys to retrieve data from Torn regarding your user and potentially your 
            faction, company, and other data depending on features enabled and permissions granted to you in-game.
            Your API key(s) will only be used for features regarding your account, regarding your faction if you
            have the API Access permission, regarding any Discord servers in which you are an admin. No other user
            will be able to see your API key(s).
        </p>
        <p class="card-text" style="color: white">
            - User attacks: We collect user attacks to calculate the stat scores of the opponent for the stat database.
            This data (except for related data in the stat database) is not stored persistently. Your attacks
            cannot be accessed by anyone.
        </p>
        <p class="card-text" style="color: white">
            - User battle stats: we collect the battle stats of users who are signed into Tornium and potentially
            their faction members through <a href="https://www.tornstats.com">TornStats</a> to calculate stat scores
            from attacks and to calculate estimated respect for the chain list generator and stat database. All users'
            battle stats are not shared publicly with anyone nor do we view them. This data is stored persistently.
        </p>
        <p class="card-text" style="color: white">
            - Faction attacks: we may collect your faction attacks to potential retaliations and the chain timer
            and to update the stat database. This data (except for related data in the stat database) is not
            stored persistently. Your faction attacks cannot be accessed by anyone.
        </p>
        <p class="card-text" style="color: white">
            - Faction crimes: we collect your faction organized crimes for related notifications (e.g. when an
            organized crime is delayed). This data is stored persistently and can be accessed by any
            member of your faction with the "Manage Organized Crimes" permission.
        </p>
        <p class="card-text" style="color: white">
            - Faction armory: we collect your faction armory data for notifications when the armory is low on stock for 
            specific item(s). This data is not stored persistently. Your faction armory data cannot be accessed by
            anyone.
        </p>
        <p class="card-text" style="color: white">
            - Faction funds: we collect your faction funds data to handle withdrawal requests for members against the
            faction's vault. This data (except for related data in withdrawal requests) is not stored persistently.
            Your faction funds cannot be accessed by anyone.
        </p>
        <p class="card-text" style="color: white">
            - General geolocation data: we log the full IP addresses used to log in to accounts and retain that data
            for account security. This data is stored persistently. We also log IP addresses for all requests
            on a rolling basis for monitoring purposes. This data can only be accessed by Tornium administartor(s).
        </p>
        <p class="card-text" style="color: white">
            - General Torn data: we collect general, public Torn data (such as all items) to keep our database
            up-to-date using random users' API keys. This data is stored on a persistent basis. This data can
            be accessed any user.
        </p>

        <h5 class="card-subtitle">When we access or disclose your information</h5>
        <p class="card-text" style="color: white">
            No human looks at your data except for the following limited purposes:

            <ul>
                <li>Provide, maintain and improve our services;</li>
                <li>Respond to your comments, questions and requests and provide support; and</li>
                <li>Monitor and analyze trends, usage and activities in connection with our services.</li>
            </ul>

            The access of this data will always be with your explicit permission with the sole exception of resolving
            critical issues potentially compromising the stability of the Service.
        </p>

        <h5 class="card-subtitle">Your rights with respect to your information</h5>
        <p class="card-text" style="color: white">
            - Right to Know. You have the right to know what data is collected, used, or shared. We outline both the
            categories and specific bits of data we collect, as well as how they are used, in this privacy policy.
        </p>
        <p class="card-text" style="color: white">
            - Right to Erasure / “To Be Forgotten”. This is your right to request that your data be erased from our
            possession. Fulfillment of data deletion requests will prevent you from using Tornium services because
            our applications will then no longer work.
        </p>
        <p class="card-text" style="color: white">
            - Right to Complain. You have the right to make a complaint regarding our handling of your data with Torn staff:
            <ul>
                <li><a href="https://www.torn.com/profiles.php?XID=776">IceBlueFire</a>: Torn Script Moderation Officer</li>
                <li><a href="https://www.torn.com/profiles.php?XID=148747">Bogie</a>: Torn Community Manager</li>
            </ul>
        </p>
        <p class="card-text" style="color: white">
            - Right to Object. You have the right, in certain situations, to object to how or why your data is processed.
        </p>

        <h5 class="card-subtitle">Security</h5>
        <p class="card-text" style="color: white">
            We take reasonable steps to protect the information provided via the services from loss, misuse, and
            unauthorized access, disclosure, alteration, or destruction. However, no internet transmission is 
            ever fully secure or free from error.
        </p>
        <p class="card-text" style="color: white">
            For more information, see <a href="https://github.com/Tornium/tornium/security/policy">Tornium's security policy</a>.
        </p>

        <hr />

        <p class="card-text" style="color: white">
            Adapted from the <a href="https://github.com/basecamp/policies">Basecamp open-source policies</a> / <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. Adapted from the <a href="https://github.com/appdotnet/template-terms-of-service">app.net open-source policies</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.
        </p>
    </div>
</div>
{% endblock %}
