{% extends 'base.html' %}

{% block title %}
Tornium - Privacy Policy
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>

    <li class="breadcrumb-item active">
        <a href="/privacy">Privacy Policy</a>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body container-fluid">
        <h5 class="card-title">Privacy Policy</h5>

        <p class="card-text">
            This privacy policy has been created to inform users about the data collection, usage, and protection 
            practices of our website and Discord bot. This privacy policy does not apply to any third-party services
            or websites that may be linked to or integrate with our service, and we are not responsible for the 
            privacy practices of these third parties.
        </p>

        <h6 class="card-subtitle text-body-secondary">Discord-Related Information</h6>
        <p class="card-text">
            This section covers the Discord-related information that's stored by Tornium and Tornium bot.

            <ul>
                <li>User Discord ID: The Discord IDs of users who (directly and indirectly) interact with Tornium's 
                    services. This ID is used to reference the Discord user's Torn account.</li>
                <li>Server IDs and Names: The Discord IDs of servers the bot is in.</li>
            </ul>
        </p>

        <h6 class="card-subtitle text-body-secondary">Log Files</h6>
        <p class="card-text">
            This service follows a standard procedure of using log files on user usage on the service. The information 
            collected by these log files can include IP adddresses, brower information, timestamps, referrers, and more. 
            This information is for error monitoring and debugging, and this information will not be used for analytics.
        </p>

        <h6 class="card-subtitle text-body-secondary">Datadog</h6>
        <p class="card-text">
            Datadog provides real-time error logging for the service so we can resolve issues. If an action causes
            an error, certain user data may be sent to Datadog to help reproduce the issuue. user data may include 
            your account information, the interaction that's occured, and other data. This data is deleted after 30 days,
            and is subject to Datadog's privacy policy.
        </p>

        <h6 class="card-subtitle text-body-secondary">Security</h6>
        <p class="card-text">
            We take reasonable steps to protect the information provided via the services from loss, misuse, and
            unauthorized access, disclosure, alteration, or distruction. However, no internet transmission is 
            ever fully secure of error free.
        </p>

        <p class="card-text">
            By contributing to Tornium or Tornium Bot, you agree to the 
            <a href="https://developercertificate.org/">developer certification of origin</a>. This certifies that 
            you have written the code or have the right to submit the code to the project.
        </p>
    </div>
</div>
{% endblock %}
