{% extends 'base.html' %}

{% block title %}
Tornium - Privacy Policy
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>

    <li class="breadcrumb-item active">
        <a href="/privacy">Privacy Policy</a>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body container-fluid">
        <h3 class="card-title">Tornium Privacy Policy</h3>

        <p class="card-subtitle"><b>Last Updated:</b> September 8th, 2025</p>
        <p class="card-text" style="color: white">
            Our privacy policy applies to information we collect when you use or access our website, application,
            or just interact with us. We may change this privacy policy from time to time. Whenever we make changes
            to this privacy policy, the changes are effective immediately after we post the revised privacy policy (as
            indicated by revising the date at the top of our privacy policy) as changes are frequently related to new
            or updated features. We encourage you to review our privacy policy whenever you access our services to
            stay informed about our information practices and the ways you can help protect your privacy.
        </p>

        <h5 class="card-subtitle">Third Parties</h5>
        <p class="card-text" style="color: white">
            This privacy policy does not apply to any third-party services or websites that may be linked to or
            integrate with our service, and we disclaim any responsibility for the privacy practices of these third
            parties.
        </p>

        <p class="card-text" style="color: white">
            Some links on our website and Discord bot may redirect through the third-party URL shortening service
            <a href="https://tcy.sh">tcy.sh</a> before reaching the final destination. This service may be hosted by
            infrastructure providers, such as <a href="https://www.cloudflare.com/">Cloudflare</a>, which may collect
            technical information including but not limited to IP addresses, browser information, and access
            timestamps. We do not own or operate these services and disclaim any responsibility or liability for their
            content, data collection practices, or privacy policies. We advise users review the applicable privacy
            policies of any third-party websites to which they are redirected.
        </p>

        <h5 class="card-subtitle">What we collect and why</h5>
        <p class="card-text" style="color: white">
            For an in-depth list of data collected and the purposes for each, please contact support via
            <a href="https://discord.gg/pPcqTRTRyF">Discord invite link</a> or
            <a href="https://www.torn.com/profiles.php?XID=2383326">Torn mail</a>. All features require limited
            or full API access.
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data Storage</th>
                    <th scope="col">Data Sharing</th>
                    <th scope="col">Purpose of Data</th>
                    <th scope="col">Key Storage and Sharing</th>
                    <th scope="col">Key Access Level</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Will the data be stored for any purpose?</th>
                    <td>Who can access the data besides the end user?</td>
                    <td>What is the stored data being used for?</td>
                    <td>Will the API key be stored securely and who can access it?</td>
                    <td>What key access level or specific selections are required?</td>
                </tr>
                <tr>
                    <td scope="row">
                        Persistent - forever<br />
                        Persistent - until account deletion
                    </th>
                    <td>
                        Nobody<br />
                        Faction<br />
                        General public<br />
                        Server owners
                    </td>
                    <td>
                        Public community tools<br />
                        Competitive advantage - Can be used for notifications during wars<br />
                    </td>
                    <td>Stored remotely - used for automation without access by anyone else</td>
                    <td>
                        Limited<br />
                        Full
                    </td>
                </tr>
            </tbody>
        </table>

        <h5 class="card-subtitle">When we access or disclose your information</h5>
        <p class="card-text" style="color: white">
            No human looks at your data except for the following limited purposes:

            <ul>
                <li>Provide, maintain and improve our services;</li>
                <li>Respond to your comments, questions and requests and provide support; and</li>
                <li>Monitor and analyze trends, usage and activities in connection with our services.</li>
            </ul>

            The access of this data will always be with your explicit permission with the sole exception of resolving
            critical issues potentially compromising the stability of the Service.
        </p>

        <h5 class="card-subtitle">Your rights with respect to your information</h5>
        <p class="card-text" style="color: white">
            - Right to Know. You have the right to know what data is collected, used, or shared. We outline both the
            categories and specific bits of data we collect, as well as how they are used, in this privacy policy.
        </p>
        <p class="card-text" style="color: white">
            - Right to Erasure / “To Be Forgotten”. This is your right to request that your data be erased from our
            possession. Fulfillment of data deletion requests will prevent you from using Tornium services because
            our applications will then no longer work.
        </p>
        <p class="card-text" style="color: white">
            - Right to Complain. You have the right to make a complaint regarding our handling of your data with Torn staff:
            <ul>
                <li><a href="https://www.torn.com/profiles.php?XID=776">IceBlueFire</a>: Torn Script Moderation Officer</li>
                <li><a href="https://www.torn.com/profiles.php?XID=148747">Bogie</a>: Torn Community Manager</li>
            </ul>
        </p>
        <p class="card-text" style="color: white">
            - Right to Object. You have the right, in certain situations, to object to how or why your data is processed.
        </p>

        <h5 class="card-subtitle">Security</h5>
        <p class="card-text" style="color: white">
            We take reasonable steps to protect the information provided via the services from loss, misuse, and
            unauthorized access, disclosure, alteration, or destruction. However, no internet transmission is 
            ever fully secure or free from error.
        </p>
        <p class="card-text" style="color: white">
            For more information, see <a href="https://github.com/Tornium/tornium/security/policy">Tornium's security policy</a>.
        </p>

        <hr />

        <p class="card-text" style="color: white">
            Adapted from the <a href="https://github.com/basecamp/policies">Basecamp open-source policies</a> / <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. Adapted from the <a href="https://github.com/appdotnet/template-terms-of-service">app.net open-source policies</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.
        </p>
    </div>
</div>
{% endblock %}
