{% extends 'base.html' %}

{% block title %}
Tornium - Settings
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/settings">Settings</a>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body row">
        <h5 class="card-title">Tornium Client Settings</h5>
        <p class="card-text">
            Settings for Tornium clients that's stored in cookies on a per-device basis.
        </p>

        <div class="col-sm-12 col-md-8 col-xl-4">
            <p class="card-text mb-2">Theme Selector: </p>
            <select id="theme-selector" class="form-select" aria-label="Theme selection">
                <option value="light">Light (Bootstrap)</option>
                <option disabled value="dark">Dark (Bootstrap)</option>
                <option value="custom-dark">Dark (Customized)</option>
                <option value="neon-dark">High Contrast (Neon+Dark)</option>
            </select>
        </div>
    </div>
</div>

<div class="card mx-3 my-3">
    <div class="card-body">
        <h5 class="card-title">Tornium Server Settings</h5>
        <p class="card-text">
            Settings for Tornium stored on the server that applies to all devices signed in with your API key.
        </p>

        <div class="card mx-3 my-3">
            <div class="card-body">
                <h5 class="card-title">Multi-Factor Authentication</h5>
                <p class="card-text">
                    Multi-faction authentication currently only supports TOTP. TOTP also includes support for backup
                    codes that are to be stored offline in case your 2Fa device can't be used.
                </p>

                <div class="my-1">
                    <button id="disable-mfa" class="m-2 btn btn-outline-danger {% if enabled_mfa == 0 %}disabled{% endif %}">Disabled</button>
                    <button id="enable-totp" class="m-2 btn btn-outline-success {% if enabled_mfa == 1 %}disabled{% endif %}">TOTP</button>
                </div>

                {% if enabled_mfa == 1 %}
                <div class="my-1">
                    <button id="show-totp-qr" class="m-2 btn btn-outline-success">Show TOTP QR Code</button>
                    <button id="regen-totp-secret" class="m-2 btn btn-outline-danger">Regenerate TOTP Secret</button>
                    <button id="regen-totp-codes" class="m-2 btn btn-outline-danger">Regenerate TOTP Backup Codes</button>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="card mx-3 my-3 row">
            <div class="card-body">
                <h5 class="card-title">Tornium API Key Settings</h5>

                <div class="col-sm-12 col-md-8 col-xl-4">
                    <div class="input-group mt-1">
                        <span class="input-group-text">Discord Linked</span>
                        <span class="form-control">{{ discord_linked }}</span>
                    </div>
                </div>

                <div class="col-sm-12 col-md-8 col-xl-6">
                    <div class="card mt-3">
                        <div class="card-header">API Keys</div>
                        <ul class="list-group list-group-flush">
                            {% for api_key in api_keys %}
                                <li class="list-group-item d-flex flex-wrap justify-content-between">
                                    <div>
                                        {{ api_key.api_key[:6] ~ "*" * 10 }}

                                        {% if api_key.default %}
                                        <div class="btn btn-sm btn-outline-primary disabled">Default</div>
                                        {% endif %}

                                        {% if api_key.paused %}
                                        <div class="btn btn-sm btn-outline-warning disabled">Paused</div>
                                        {% endif %}

                                        {% if api_key.access_level == 1 %}
                                        <div class="btn btn-sm btn-outline disabled">Public</div>
                                        {% elif api_key.access_level == 2 %}
                                        <div class="btn btn-sm btn-outline-success disabled">Minimal</div>
                                        {% elif api_key.access_level == 3 %}
                                        <div class="btn btn-sm btn-outline-warning disabled">Limited</div>
                                        {% elif api_key.access_level == 4 %}
                                        <div class="btn btn-sm btn-outline-danger disabled">Full</div>
                                        {% endif %}
                                    </div>

                                    <div class="mt-3 mt-md-0">
                                        {% if api_key.disabled %}
                                        <button type="button" class="btn btn-sm btn-outline-success enable-key" data-key-guid="{{ api_key.guid }}">Enable</button>
                                        {% else %}
                                        <button type="button" class="btn btn-sm btn-outline-danger disable-key" data-key-guid="{{ api_key.guid }}">Disable</button>
                                        {% endif %}

                                        <button type="button" class="btn btn-sm btn-outline-danger delete-key" data-key-guid="{{ api_key.guid }}">Delete</button>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="card-footer">
                            <div class="form-floating">
                                <div class="input-group py-1">
                                    <input type="password" minlength="16" maxlength="16" required class="form-control form-control-sm" id="api-key-input" placeholder="Torn API key" autocomplete="off">
                                    <button type="button" class="btn btn-sm btn-outline-success input-group-text" id="submit-new-key">Add</button>
                                </div>

                                <div class="form-text">
                                    <b>NOTE:</b> Tornium will not accept custom access API keys.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-8 col-xl-6">
                    <div class="card mt-3">
                        <div class="card-header">Tornium Usage Settings</div>
                        <div class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label for="cpr-toggle" class="form-label">Share CPR:</label>

                                <!-- TODO: Use DB to determine which is checked -->
                                <input type="radio" class="btn-check" name="cpr-toggle" id="cpr-toggle-enable" autocomplete="off" checked>
                                <label class="btn" for="cpr-toggle-enable">Enable</label>

                                <input type="radio" class="btn-check" name="cpr-toggle" id="cpr-toggle-disable" autocomplete="off">
                                <label class="btn" for="cpr-toggle-disable">Disable</label>
                            </li>
                            <!-- TODO: Add toggle to share attack stats for stat DB -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mx-3 my-3">
    <div class="card-body">
        <h5 class="card-title">Authorized Applications</h5>
        <p class="card-text">
            You have granted {{ tokens|count }} application(s) access to your Tornium account. 
        </p>

        <ul class="list-group list-group-flush">
            {% for token in tokens %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold align-middle">
                        {{ token.client.client_name }}
                        
                        {% if token.client.official %}
                        <div class="btn btn-sm btn-outline-success">Official</div>
                        {% endif %}

                        {% if token.client.verified %}
                        <div class="btn btn-sm btn-outline-success">Verified</div>
                        {% else %}
                        <div class="btn btn-sm btn-outline-warning">Unverified</div>
                        {% endif %}
                    </div>
                    Created by: {{ token.client.user.user_str_self() }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="modal fade" id="settings-modal" tabindex="-1" aria-labelledby="settings-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settings-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="settings-modal-body"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/general/settings.js"></script>
{% endblock %}
