@import "../themes";

@media (min-height: 992px) {
    #verticalNavContainer {
        border-right-color: var(--white);
        border-right-style: solid;
        border-right-width: 1px;
        min-height: 100dvh;
    }
}

#verticalNavContainer {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
}

#top-nav {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);

    .navbar-toggler-icon {
        // Change stroke when $white is changed
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28229, 229, 229, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler {
        border-color: var(--text-color);
    }
}
