{% extends 'base.html' %}

{% block title %}
Tornium - Client Dashboard
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/developers">Developers</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/developers/clients">OAuth Clients</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/developers/clients/{{ client.client_id }}">Client Dashboard</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
<div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/developers/clients">
                <i class="col-1 col-sm-2 fa-solid fa-file-invoice"></i> <span class="col">OAuth Clients</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">
            {{ client.client_name }}
        </h5>

        <h6 class="card-subtitle">
            Owned by: {{ client.user.name }} [{{ client.user.tid }}]
        </h6>

        <hr class="my-2" />

        <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="client-name" class="form-label">Client Name</label>
            <input type="text" class="form-control" id="client-name" name="client-name" value="{{ client.client_name }}"></input>
        </div>

        <div class="mt-2 col-sm-12 col-md-6 col-lg-4">
            <label for="client-id" class="form-label">Client ID</label>
            <input type="text" class="form-control disabled card-text text-nowrap" id="client-id" value="{{ client.client_id }}" disabled readonly></input>
            {# TODO: Make this copy on click #}
        </div>

        {% if client.token_endpoint_auth_method != "none" %}
        <div class="mt-2 col-sm-12 col-md-6 col-lg-4">
            <label for="client-secret" class="form-label">Client Secret</label>
            <input type="text" class="form-control disabled card-text text-nowrap d-none" id="client-secret" disabled readonly></input>
            {# TODO: Make this copy on click #}

            <button type="button" class="btn btn-outline-danger w-100" id="regenerate-client-secret">Regenerate Client Secret</button>
        </div>
        {% endif %}

        <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
            <div class="card">
                <div class="card-header">Redirect URIs</div>
                <ul class="list-group list-group-flush" id="client-redirect-uri">
                    {% for uri in client.redirect_uris %}
                    <li class="list-group-item d-flex justify-content-around align-items-center">
                        <input type="url" class="form-control w-100 me-2 client-redirect-uri" value="{{ uri }}" />
                        <button type="button" class="btn btn-sm btn-outline-danger remove-client-redirect-uri">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </li>
                    {% else %}
                    <li class="list-group-item text-secondary" id="client-redirect-uri-default">No redirect URIs...</li>
                    {% endfor %}
                </ul>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-success w-100" id="client-redirect-uri-new">New Redirect URI</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
            <div class="card">
                <div class="card-header">Scopes</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label class="d-flex">
                            <input type="checkbox" name="client-scope-selector" autocomplete="off" value="identity" {% if "identity" in client.scope_list() %}checked{% endif %} />
                            <p class="card-text px-3" style="width: 100%;">Identity</p>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label class="d-flex">
                            <input type="checkbox" name="client-scope-selector" autocomplete="off" value="faction" {% if "faction" in client.scope_list() %}checked{% endif %} />
                            <p class="card-text px-3" style="width: 100%;">Faction</p>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label class="d-flex">
                            <input type="checkbox" name="client-scope-selector" autocomplete="off" value="faction:attacks" {% if "faction:attacks" in client.scope_list() %}checked{% endif %} />
                            <p class="card-text px-3" style="width: 100%;">Faction: Attacks</p>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label class="d-flex">
                            <input type="checkbox" name="client-scope-selector" autocomplete="off" value="faction:banking" {% if "faction:banking" in client.scope_list() %}checked{% endif %} />
                            <p class="card-text px-3" style="width: 100%;">Faction: Banking</p>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label class="d-flex">
                            <input type="checkbox" name="client-scope-selector" autocomplete="off" value="faction:crimes" {% if "faction:crimes" in client.scope_list() %}checked{% endif %} />
                            <p class="card-text px-3" style="width: 100%;">Faction: Organized Crimes</p>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label class="d-flex">
                            <input type="checkbox" name="client-scope-selector" autocomplete="off" value="torn_key:usage" {% if "torn_key:usage" in client.scope_list() %}checked{% endif %} />
                            <p class="card-text px-3" style="width: 100%;">API Key: Usage</p>
                        </label>
                    </li>
                </ul>
                <div class="card-footer">
                    For more information on scopes, see the <a href="https://docs.tornium.com">reference</a>.
                </div>
            </div>
        </div>

        <div class="mt-2 col-sm-12 col-md-6 col-lg-4">
            <label for="client-uri" class="form-label">Client URI</label>
            <input type="url" class="form-control card-text text-nowrap" id="client-uri" value="{{ client.client_uri or '' }}" />
        </div>

        <div class="mt-2 col-sm-12 col-md-6 col-lg-4">
            <label for="client-tos-uri" class="form-label">Client ToS URI</label>
            <input type="url" class="form-control card-text text-nowrap" id="client-tos-uri" value="{{ client.tos_uri or '' }} " />
        </div>

        <div class="mt-2 col-sm-12 col-md-6 col-lg-4">
            <label for="client-policy-uri" class="form-label">Client Privacy Policy URI</label>
            <input type="url" class="form-control card-text text-nowrap" id="client-privacy-uri" value="{{ client.policy_uri or '' }}" />
        </div>

        {# TODO: Add user count and revocation of all tokens #}

        <div class="mt-3">
            <button type="button" class="btn btn-outline-success" id="update-client">Update Client</button>
            <button type="button" class="btn btn-outline-danger" id="delete-client">Delete Client</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/components/alert-confirm.js"></script>
<script src="/static/developers/client.js" data-client-id="{{ client.client_id }}"></script>
{% endblock %}
