{% extends 'base-center.html' %}

{% block title %}
Tornium - New OAuth Client
{% endblock %}

{% block content %}
<div class="row min-vh-100">
    <div class="col-sm-12 col-md-12 col-lg-6 mx-auto my-auto">
        <div class="card m-3">
            <div class="card-body container-fluid">
                <h5 class="card-title">Create a new OAuth2 application</h5>

                <p class="card-text mt-2">
                    This page allows you to select the type of the application (<b>WARNING:</b> This can NOT be changed later) and name the application. For more information, see the <a href="https://docs.tornium.com/en/latest/reference/api/oauth-provider.html">documentation</a>.
                </p>

                <div class="w-100">
                    <label for="client-name" class="form-label">Client Name</label>
                    <input type="text" class="form-control" id="client-name" name="client-name" autocomplete="off" required></input>
                </div>

                <div class="card w-100 mt-3">
                    <div class="card-header">Client Type</div>
                    <ul class="list-group list-group-flush" id="client-type-list">
                        <li class="list-group-item">
                            <label class="d-flex">
                                <input type="radio" name="client-type-selector" autocomplete="off" value="authorization-code-grant">
                                <p class="card-text px-3" style="width: 100%;">
                                    <b>Web App (Server-Side):</b><br />
                                    A server-side application that can securely store secrets. This application will use authorization code grant with a secret.
                                </p>
                            </label>
                        </li>

                        <li class="list-group-item">
                            <label class="d-flex">
                                <input type="radio" name="client-type-selector" autocomplete="off" value="authorization-code-grant-pkce">
                                <p class="card-text px-3" style="width: 100%;">
                                    <b>Userscript/SPA:</b><br />
                                    A client-side application that is unable to securely store secrets. This application MUST use authorization code grant with PKCE.
                                </p>
                            </label>
                        </li>

                        {# <li class="list-group-item">
                            <label class="d-flex">
                                <input type="radio" name="client-type-selector" autocomplete="off" value="device-authorization-grant">
                                <p class="card-text px-3" style="width: 100%;">
                                    <b>CLI Tools/Scripts:</b><br />
                                    A server-side application that does not have regular access to user authorization. This application will use device authorization grant.
                                </p>
                            </label>
                        </li> #}
                    </ul>
                </div>

                <button type="button" id="create-oauth-client" class="btn btn-outline-danger w-100 mt-3">Create OAuth2 Client</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/developers/new-client.js"></script>
{% endblock %}
