{% extends 'base.html' %}

{% block title %}
Tornium - Faction Chain Dashboard
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/faction">Faction</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/faction/chain">Chains</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/faction/members">
                <i class="col-1 col-sm-2 fa-solid fa-shield-halved"></i> <span class="col">Members</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/banking">
                <i class="col-1 col-sm-2 fa-solid fa-money-check"></i> <span class="col">Banking</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.factiontid != 0 %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/chain">
                <i class="col-1 col-sm-2 fa-solid fa-link"></i> <span class="col">Chains</span>
            </a>
        </div>
        <div class="row mb-3">
            <a class="nav-link" href="/faction/crimes">
                <i class="col-1 col-sm-2 fa-solid fa-bell"></i> <span class="col">Organized Crimes</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.faction_aa %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/bankingaa">
                <i class="col-1 col-sm-2 fa-solid fa-cash-register"></i> <span class="col">Banking AA</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/bot">
                <i class="col-1 col-sm-2 fa-brands fa-discord"></i> <span class="col">Bot Configuration</span>
            </a>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="py-3 px-3">
    {% if guildid != 0 and current_user.faction_aa %}
    <div class="card min-w-25 max-w-50 my-3">
        <div class="card-body">
            <h5 class="card-title">OD Watcher</h5>
            <p class="card-text">
                The OD watcher reports overdoses of faction members in the specified channel when enabled.
            </p>

            <select class="discord-channel-selector" id="od-channel" aria-label="OD Log Channel" data-live-search="true">
                <option value="0">Disabled</option>
            </select>
        </div>
    </div>
    {% elif guildid == 0 and current_user.faction_aa %}
    <div class="card min-2-25 max-w-50 my-3">
        <div class="card-body">
            <h5 class="card-title">OD Watcher</h5>
            <p class="card-text text-danger">
                <b>
                    The faction's guild ID is required to be set up in the faction's
                    <a href="/faction/bot" class="text-danger" style="text-decoration: underline">bot dashboard</a> before the OD Watcher can be set up.
                </b>
            </p>

            <p class="card-text">
                The OD watcher reports overdoses of faction members in the specified channel when enabled.
            </p>
        </div>
    </div>
    {% endif %}
</div>

<script src="/static/global/discord.js" data-guildid="{{ guild_id }}"></script>
<script src="/static/faction/chain.js" data-guildid="{{ guild_id }}"></script>
{% endblock %}
