{% extends 'base.html' %}

{% block title %}
Tornium - Faction OCs Dashboard
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/faction">Faction</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/faction/crimes">Organized Crimes</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
<div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/faction/members">
                <i class="col-1 col-sm-2 fa-solid fa-shield-halved"></i> <span class="col">Members</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/banking">
                <i class="col-1 col-sm-2 fa-solid fa-money-check"></i> <span class="col">Banking</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.factiontid != 0 %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/chain">
                <i class="col-1 col-sm-2 fa-solid fa-link"></i> <span class="col">Chains</span>
            </a>
        </div>

        {% if current_user.can_manage_crimes() %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/crimes">
                <i class="col-1 col-sm-2 fa-solid fa-handcuffs"></i> <span class="col">Organized Crimes</span>
            </a>
        </div>
        {% endif %}

        {% if current_user.faction_aa %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/bankingaa">
                <i class="col-1 col-sm-2 fa-solid fa-cash-register"></i> <span class="col">Banking AA</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/bot">
                <i class="col-1 col-sm-2 fa-brands fa-discord"></i> <span class="col">Bot Configuration</span>
            </a>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="py-3 px-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Organized Crimes</h5>

            {% if current_user.faction.has_migrated_oc %}
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="card mt-3">
                        <div class="card-header">Team Selector</div>
                        <ul class="list-group list-group-flush" id="team-list">
                            <li class="list-group-item d-flex">
                                <input type="radio" name="team-selector">
                                <p class="card-text px-3" style="max-width: 100%;">
                                    Break the Bank: <span class="text-secondary d-inline-block text-truncate" style="max-width: inherit;">tiksan, Chedburn, bogie, asdf, asdf, lorem ipsum, dolor, set</span>
                                </p>
                            </li>
                        </ul>
                        <div class="card-footer d-flex flex-wrap justify-content-between">
                            <div class="col-sm-12 col-lg-6">
                                <select class="oc-name-selector" aria-label="New OC Name" data-live-search="true"></select>
                                <button type="button" class="btn btn-outline-success mt-2 mt-md-0" id="new-team-button">New</button>
                            </div>

                            <div class="col-sm-12 col-lg-6 d-flex flex-fill justify-content-end mt-2 mt-md-0">
                                <button type="button" class="btn btn-sm btn-outline-secondary me-2" disabled style="height: min-content;">Prev Page</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" disabled style="height: min-content;">Next Page</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="card mt-3">
                        <div class="card-header">Team Viewer</div>
                        <div class="card-body">
                            <p class="card-text" id="viewer-default">Select a team first.</p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p class="card-text">
                <b>NOTE:</b> This faction has not yet migrated to Organized Crimes 2.0; Tornium only supports Organized Crimes 1.0 at the moment. If this faction has recently migrated to OCs 2.0, it may take up to an hour for this change to be reflected on Tornium.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/global/oc.js"></script>
<script src="/static/faction/crimes.js"></script>
{% endblock %}
