{% extends "base.html" %}

{% block title %}
Tornium - Faction
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/faction">Faction</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
{% include "faction/subnav.html" %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-list"></i>
                Features
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            OD Watcher - a faction utility that reports overdoses in a specified Discord channel when enabled
                        </li>
                        <li class="list-group-item">
                            Banking - a faction utility for requesting money from the faction vault
                        </li>
                        <li class="list-group-item">
                            Organized Crimes - a collection of faction utilities to manage OCs
                        </li>
                        <li class="list-group-item">
                            Armory - a faction utility that tracks armory usage
                        </li>
                        <li class="list-group-item">
                            And many more can be found under the <a href="/bot">bot dashboard</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
