{% extends 'base.html' %}

{% block title %}
Tornium - Faction Members
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/faction">Faction</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/faction/members">Members</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/faction/members">
                <i class="col-1 col-sm-2 fa-solid fa-shield-halved"></i> <span class="col">Members</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/banking">
                <i class="col-1 col-sm-2 fa-solid fa-money-check"></i> <span class="col">Banking</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.faction_id != 0 %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/chain">
                <i class="col-1 col-sm-2 fa-solid fa-link"></i> <span class="col">Chains</span>
            </a>
        </div>
        <div class="row mb-3">
            <a class="nav-link" href="/faction/crimes">
                <i class="col-1 col-sm-2 fa-solid fa-bell"></i> <span class="col">Organized Crimes</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.faction_aa %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/bankingaa">
                <i class="col-1 col-sm-2 fa-solid fa-cash-register"></i> <span class="col">Banking AA</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/bot">
                <i class="col-1 col-sm-2 fa-brands fa-discord"></i> <span class="col">Bot Configuration</span>
            </a>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="py-3 px-3">
    <div class="card min-w-25 max-w-50">
        <div class="card-body">
            <h5 class="card-title">Faction Members</h5>

            {% if current_user.faction_aa %}
            <p class="card-text">
                Average Stat Score: {{ average_stat|round(2, 'common')|commas }}<br />
                Average Stat Score (top 80%): {{ average_stat_80|round(2, 'common')|commas }}
            </p>
            {% endif %}

            <table id="members-table" class="table table-striped table-bordered w-100">
                <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Level</th>
                        <th>Last Action</th>
                        <th>Faction AA</th>
                        <th>Battlescore</th>
                        <th>Last Update</th>
                        <th>Discord ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            {% if not member.key %}
                                <th>
                                    <i class="fa-solid fa-circle-xmark" data-bs-toggle="tooltip" data-bs-placement="right" title="Not Signed In"></i>
                                </th>
                            {% else %}
                                <th>
                                    <i class="fa-solid fa-circle-check" data-bs-toggle="tooltip" data-bs-placement="right" title="Signed In"></i>
                                </th>
                            {% endif %}

                            <th>
                                <a href="https://www.torn.com/profiles.php?XID={{ member.tid }}" style="text-decoration: none; color: inherit" target="_blank" rel="noopener noreferrer">{{ member.name }} [{{ member.tid }}]</a>
                            </th>
                            <th>{{ member.level }}</th>
                            {% if member.last_action is none %}
                            <th><span></span></th>
                            {% else %}
                            <th data-order="{{ member.last_action.timestamp() }}">
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="{{ member.last_action.timestamp()|tcttime }}">{{ member.last_action.timestamp()|reltime }}</span>
                            </th>
                            {% endif %}

                            {% if current_user.faction_aa or current_user.tid == member.tid %}
                                <th>{{ member.faction_aa }}</th>
				{% if not member.battlescore %}
                                    <th data-order="0">
                                        <i class="fa-solid fa-triangle-exclamation" data-bs-toggle="tooltip" data-bs-placement="right" title="Missing Battlestats. User is not signed into Tornium or TornStats."></i>
                                    </th>
				    {% else %}
				    <th data-order="{{ member.battlescore }}">
					    <span data-bs-toggle="tooltip" data-bs-placement="right" title="Strength: {{ member.strength|round|commas }}<br />Defense: {{ member.defense|round|commas }}<br />Speed: {{ member.speed|round|commas }}<br />Dexterity: {{ member.dexterity|round|commas }}">{{ member.battlescore|round|commas }}</span>
				    </th>
                                {% endif %}
                            {% else %}
                                <th data-order="0">
                                    <i class="fa-solid fa-lock" data-bs-toggle="tooltip" data-bs-placement="right" title="Permission Denied. Not an AA member."></i>
                                </th>
                                <th data-order="0">
                                    <i class="fa-solid fa-lock" data-bs-toggle="tooltip" data-bs-placement="right" title="Permission Denied. Not an AA member."></i>
                                </th>
                            {% endif %}

                            {% if member.last_refresh is none %}
                            <th><span></span></th>
                            {% else %}
                            <th data-order="{{ member.last_refresh.timestamp() }}">
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="{{ member.last_refresh.timestamp()|tcttime }}">{{ member.last_refresh.timestamp()|reltime }}</span>
                            </th>
                            {% endif %}

                            {% if member.discord_id == 0 %}
                                <th>
                                    <i class="fa-solid fa-user-slash" data-bs-toggle="tooltip" data-bs-placement="right" title="Not verified by Torn"></i>
                                </th>
                            {% else %}
                                <th>
                                    <a href="https://discordapp.com/users/{{ member.discord_id }}" style="text-decoration: none; color: inherit" target="_blank" rel="noopener noreferrer">{{ member.discord_id }}</a>
                                </th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/static/faction/members.js"></script>
{% endblock %}
