{% extends 'base.html' %}

{% block title %}
Tornium - Member Report
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/torn">Torn Data</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/torn/factions">Factions</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/torn/factions/member-report">Member Report</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/torn/factions">
                <i class="col-1 col-sm-2 fa-solid fa-person-military-rifle"></i> <span class="col">Factions</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/users">
                <i class="col-1 col-sm-2 fa-solid fa-person-rifle"></i> <span class="col">Users</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/stocks">
                <i class="col-1 col-sm-2 fa-solid fa-arrow-trend-up"></i> <span class="col">Stocks</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/factions/member-report">
                <i class="col-1 col-sm-2 fa-solid fa-users-viewfinder"></i> <span class="col">Member Report</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Viewing Faction Member Report</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Report ID: {{ report.rid }}</h6>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-5">
                <p class="card-text">
                    Created at: {{ report.created_at|tcttime }}<br />
                    Last updated at: {{ report.last_updated|tcttime }}<br />

                    {% if report.status == 0 %}
                    Status: Not started
                    {% elif report.status == 1 %}
                    Status: In progress
                    {% elif report.status == 2 %}
                    Status: Completed
                    {% else %}
                    Status: <i class="fa-solid fa-triangle-exclamation" style="color: red"></i> ERROR <i class="fa-solid fa-triangle-exclamation" style="color: red"></i>
                    {% endif %}
                </p>
            </div>

            <div class="d-md-none">
                <br />
            </div>

            <div class="col-sm-12 col-md-6 col-xl-7">
                <p class="card-text">
                    Start Time: {{ report.start_timestamp|tcttime }}<br />
                    End Time: {{ report.end_timestamp|tcttime }}<br />
                    Faction: {{ report.faction_id|faction }}<br />
                    Requested Data: {{ report.requested_data|join_list(True) }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Report Data</h5>
        <div class="card-text" id="temp-container">
            Data loading...
        </div>

        <p class="card-text" id="selector-help" hidden="hidden">
            Select the personal stat to view below...
        </p>

        <div id="report-stat-selector" class="btn-group flex-wrap mt-1 mb-3" role="group" aria-label="Stat selectors for the table" hidden="hidden">
            {% for stat in report.requested_data %}
            <input type="radio" class="btn-check stat-select" name="stat-select" id="radio-{{ stat }}" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="radio-{{ stat }}">{{ stat }}</label>
            {% endfor %}
        </div>

        <hr class="pb-1 mt-1" id="selector-seperator" hidden="hidden">

        <table id="report-table" class="table table-striped table-bordered w-100" hidden="hidden">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Start Data</th>
                    <th>End Data</th>
                    <th>Difference</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div class="row mx-1 my-3" id="stats-container" hidden="hidden">
            <div class="col-sm-12 col-md-8 col-xl-6 mt-2 card">
                <div class="card-header">
                    Basic Stats
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Sum</th>
                                <th scope="col">Mean</th>
                                <th scope="col">Median</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Start</th>
                                <td id="start-sum"></td>
                                <td id="start-mean"></td>
                                <td id="start-median"></td>
                            </tr>
                            <tr>
                                <th scope="row">End</th>
                                <td id="end-sum"></td>
                                <td id="end-mean"></td>
                                <td id="end-median"></td>
                            </tr>
                            <tr>
                                <th scope="row">Diff.</th>
                                <td id="diff-sum"></td>
                                <td id="diff-mean"></td>
                                <td id="diff-median"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/torn/member-report-viewer.js"></script>
{% endblock %}
