{% extends 'base.html' %}

{% block title %}
Tornium - Server Selector
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot">Discord Bot</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/bot/dashboard">Server Selector</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/bot/dashboard">
                <i class="col-1 col-sm-2 fa-solid fa-gauge-simple-high"></i> <span class="col">Server Selector</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Server Selector</h5>
        <p class="card-text">
            Select a server below to modify and set up. The below list only shows servers where the bot has already
            been invited and you are an admin.
        </p>

        {% for server in servers %}
        <div class="col-sm-12 col-md-4 col-xl-2">
            <div class="card m-1 px-1 align-items-center">
                <div class="card-header">
                    {{ server.name }}
                </div>

                {% if server.icon == "" %}
                    <img width="128" src="" class="rounded placeholder img-thumbnail" alt="placeholder">
                {% else %}
                    <img width="128" src="https://cdn.discordapp.com/icons/{{ server.sid }}/{{ server.icon }}" class="rounded img-thumbnail" alt="server icon">
                {% endif %}

                <a href="/bot/dashboard/{{ server.sid }}" class="my-2 btn btn-outline-primary">Edit Server</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
