{% extends 'base.html' %}

{% block title %}
Tornium - Bot Dashboard
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/">Server Selector</a>
    </li>
</ol>

{% block content %}
<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Server Selector</h5>
        <p class="card-text">
            Select a server below to modify and set up. The below list only shows servers where the bot has already
            been invited and you are an admin.
        </p>

        {% for server in servers %}
        <div class="card m-1">
            <div class="card-header">
                {{ server.name }}
            </div>

            {% if server.icon == "" %}
                <img src="..." class="card-img-top" alt="...">
            {% else %}
                <img src="https://cdn.discordapp.com/icons/{{ server.sid }}/{{ server.icon }}" class="card-img-top" alt="server icon">
            {% endif %}

            <a href="/bot/dashboard/{{ server.sid }}" class="btn btn-primary">Edit Server</a>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
