{% extends 'base.html' %}

{% block title %}
Tornium - Bot Documentation
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'bot/navbar.html' %}

<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bot Documentation</h5>
            <p class="card-text">This lists all the possible commands that can be run, but many commands (such as the banking features) are required to be enabled by your server's (herewithin refered to as guild following the Discord naming scheme) administrator(s) or your faction's AA members.</p>
            <p class="card-text">NOTE: This documentation uses "?" as the default prefix as set as the default prefix. If your guild is using a different prefix, replace the specified prefix in the documentation with the correct prefix for your guild that can be found in the <a href="/bot/dashboard">bot dashboard</a> for your guild.</p>
        </div>
    </div>
</div>

<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Faction Banking Commands</h5>
            <p class="card-text">Faction banking commands include the withdrawal command used by users to request money from the faction bank and the fulfill command used by faction bankers to mark a banking request as fulfilled. NOTE: This set of commands requires the faction AA members to enable faction banking in the <a href="/faction/bot">faction's bot dashboard</a>.
        
            <div class="card py-3">
                <div class="card-body">
                    <h5 class="card-title">"?withdraw [amount]"</h5>
                    <p class="card-text">The faction withdrawal command is used by faction members with cash in the faction vault to send a request to faction bankers to withdraw a certain amount of money. This command checks the faction vault via the Torn API to verify that the requesting user indeed has the requested amount of cash.</p>
                    <p class="card-text">Aliases: "?w", "?req", "with"</p>
                    <p class="card-text">API Call Usage: Makes between one and five API calls depending when the last API calls were made. The additional API calls are made if the user or faction needs to get additional data or if the user needs to be refreshed since the previous update was greater than five minutes previous.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
