{% extends 'base.html' %}

{% block title %}
Tornium - Bot
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/bot">Discord Bot</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/bot/dashboard">
                <i class="col-1 col-sm-2 fa-solid fa-gauge-simple-high"></i> <span class="col">Server Selector</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-robot"></i>
                Tornium Bot
            </div>
            <div class="card-body">
                <p class="card-text">
                    The Tornium bot is a Discord Bot implemented from scratch with the Discord API for Torn City.
                </p>

                <p class="card-text">
                    For more information, contact
                    <a href="https://discordapp.com/users/695828257949352028">tiksan</a> on Discord. If you want to host this bot
                    on your own server, please follow these the steps listed <a href="/bot/host">here</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-list"></i>
                Features
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-user-check"></i>
                            Verification - a verification utility to give user's their Torn name and ID along with faction role and/or position roles
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                            Banking - a faction utility for requesting money from the faction vault
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-binoculars"></i>
                            [DEPRECATED] Stakeouts - a utility to watch factions, users, and companies for changes in specified triggers
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-binoculars"></i>
                            [ALPHA] Stakeouts - a slash command-based utility to watch factions and users for changes in specified triggers
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-code"></i>
                Source Code
            </div>
            <div class="card-body">
                <p class="card-text">
                    The officially hosted Tornium Discord bot is closed source due to the inclusion of paid features,
                    however the original open-source version can be found on
                    <a href="https://github.com/dssecret/tornium/tree/master/bot">GitHub</a>. The original open-source 
                    version of Tornium has stopped being maintained though due to lack of availability on the 
                    developer's part.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
