{% extends 'base.html' %}

{% block title %}
Tornium - Bot
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/bot">Discord Bot</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
{% if current_user.is_authenticated %}
<div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/bot/dashboard">
                <i class="col-1 col-sm-2 fa-solid fa-gauge-simple-high"></i> <span class="col">Server Selector</span>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-robot"></i>
                Tornium Bot
            </div>
            <div class="card-body">
                <p class="card-text">
                    The Tornium bot is a Discord Bot implemented from scratch with the Discord API for Torn City.
                </p>

                <p class="card-text">
                    For more information, contact
                    <a href="https://discord.com/users/695828257949352028">tiksan</a> on Discord. If you want to host this bot
                    on your own server, please follow these the steps listed in the <a href="https://docs.tornium.com/en/latest/user/skynet/skynet.html">documentation</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-list"></i>
                Features
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-user-check"></i>
                            Verification - a verification utility to give user's their Torn name and ID along with faction role and/or position roles
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                            Banking - a faction utility for requesting money from the faction vault
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-shield-halved"></i>
                            Assists - a utility to call for help in an attack
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-skull-crossbones"></i>
                            Retaliation - a utility to provide notifications of retaliations
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-bell"></i>
                            OC Notifications - a utility to provide notifications when organized crimes are ready and/or delayed
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-binoculars"></i>
                            [BETA] Stakeouts - a slash command-based utility to watch factions and users for changes in specified triggers
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
