{% extends 'base.html' %}

{% block title %}
Tornium - OCs
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot">Discord Bot</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot/dashboard">Server Selector</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot/dashboard/{{ guildid }}">Server Configuration</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/bot/dashboard/{{ guildid }}/oc">OC Configuration</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/bot/dashboard">
                <i class="col-1 col-sm-2 fa-solid fa-gauge-simple-high"></i> <span class="col">Server Selector</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="px-3 py-3" id="card-container"></div>
{% endblock %}

{% block scripts %}
<script src="/static/global/discord.js" data-guildid="{{ guildid }}"></script>
<script src="/static/bot/oc.js"></script>
{% endblock %}