{% extends 'base.html' %}

{% block title %}
Tornium - Stakeouts
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'bot/navbar.html' %}

<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Faction Stakeouts</h5>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                    <form class="form-floating" method="POST" action="/bot/stakeouts/{{ guildid }}">
                        <input class="form-control" id="factionid" name="factionid">
                        <label for="factionid">Torn Stakeout Faction ID</label>
                        <div class="form-text">
                            Please enter the faction ID of the Torn faction to be added to the guild's stakeout
                            list. This action can only be done by a guild administrator.
                        </div>
                    </form>
                </div>
            </div>

            <table id="faction-table" class="table table-striped table-bordered responsive">
                <thead>
                   <tr>
                        <th>Faction ID</th>
                        <th>Keys</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="px-3 pb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Stakeouts</h5>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                    <form class="form-floating" method="POST" action="/bot/stakeouts/{{ guildid }}">
                        <input class="form-control" id="userid" name="userid">
                        <label for="userid">Torn Stakeout User ID</label>
                        <div class="form-text">
                            Please enter the user ID of the Torn user to be added to the guild's stakeout
                            list. This action can only be done by a guild administrator.
                        </div>
                    </form>
                </div>
            </div>

            <table id="user-table" class="table table-striped table-bordered responsive">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Keys</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/bot/stakeouts.js" data-guildid="{{ guildid }}"></script>
{% endblock %}
