<div class="modal fade" id="verify-settings-modal" tabindex="-1" aria-labelledby="verify-settings-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mossdal-label">Advanced Verification Dashboard: {{ faction.name }} [{{ faction.tid}}]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>