{% extends 'base.html' %}

{% block title %}
Tornium - Verification
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot">Discord Bot</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot/dashboard">Server Selector</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot/dashboard/{{ guild.sid }}">Server Configuration</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/bot/dashboard/{{ guild.sid }}/verify">Verification Configuration</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/bot/dashboard">
                <i class="col-1 col-sm-2 fa-solid fa-gauge-simple-high"></i> <span class="col">Server Selector</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Basic Verification Configuration</h5>
            <p class="card-text">
                Basic configurations for server member verification regardless of verification type.
            </p>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-4">
                    <div class="form-floating">
                        {% if guild.verify_enabled %}
                        <button type="button" class="btn btn-outline-primary" id="verification-config-enable" disabled>
                            Enable
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="verification-config-disable">
                            Disable
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-primary" id="verification-config-enable">
                            Enable
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="verification-config-disable" disabled>
                            Disable
                        </button>
                        {% endif %}

                        <div class="form-text">
                            Enable or disable verification.
                            <b>NOTE:</b> Does NOT delete settings upon disabling of verification.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-sm-12 col-md-8 col-xl-4 my-2">
                    <div class="form-floating">
                        <div class="form-text">
                            Select the channel to which log messages regarding member verification are forwarded to.
                        </div>

                        <select class="discord-channel-selector" id="verification-log-channel" aria-label="Verification Log Channel" data-live-search="true">
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row pt-3">
                <div class="col-sm-12 col-md-8 col-xl-4 my-2">
                    <div class="form-floating">
                        <div class="form-text">
                            Select the channel members that join a server will be locked within by default until they're verified.
                        </div>

                        <select class="discord-channel-selector" id="verification-jail-channel" aria-label="Verification Jail Channel" data-live-search="true">
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Automatic Verification</h5>
            <p class="card-text">
                The bot will automatically re-verify all members of the server at a specified time in the day (based on the server's ID). This server's verification will occur at {{ '%02d' | format(guild.sid % 96 // 4) }}:{{ '%02d' | format(guild.sid % 96 % 4 * 15) }} TCT every day.
            </p>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-4">
                    <div class="form-floating">
                        {% if guild.auto_verify_enabled %}
                        <button type="button" class="btn btn-outline-primary" id="auto-verification-config-enable" disabled>
                            Enable
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="auto-verification-config-disable">
                            Disable
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-primary" id="auto-verification-config-enable">
                            Enable
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="auto-verification-config-disable" disabled>
                            Disable
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr />

            <p class="card-text">
                The bot will automatically verify members when they join a server. <b>NOTE: This feature is in alpha.</b>
            </p>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-4">
                    <div class="form-floating">
                        {% if guild.gateway_verify_enabled %}
                        <button type="button" class="btn btn-outline-primary" id="gateway-verification-config-enable" disabled>
                            Enable
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="gateway-verification-config-disable">
                            Disable
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-primary" id="gateway-verification-config-enable">
                            Enable
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="gateway-verification-config-disable" disabled>
                            Disable
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Verified Role and Names</h5>
            <p class="card-text">
                Settings regarding how the names of users who are verified change.
            </p>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-4 my-2">
                    <div class="form-floating">
                        <input class="form-control" id="verification-name-template" name="name-template" value="{{ guild.verify_template }}">
                        <label for="name-template">Verification Name Template</label>
                        <div class="form-text">
                            Please enter the template to be used for verification names. Leave the template empty to prevent faction 
                            members from having their names automatically changed.

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{% raw %} {{ name }} {% endraw %}: Torn name</li>
                                <li class="list-group-item">{% raw %} {{ tid }} {% endraw %}: Torn ID</li>
                                <li class="list-group-item">{% raw %} {{ tag }} {% endraw %}: Faction Tag</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-4 mt-2">
                    <div class="card my-3">
                        <div class="card-header">
                            Verified Roles
                        </div>

                        <p class="card-text px-3 pt-3">
                            These roles are added to members who are officially verified by Torn via the <a href="">Torn Discord server</a>.
                        </p>

                        <div class="form-floating px-3 py-3">
                            <select class="discord-role-selector" id="verification-roles" aria-label="Verification Roles" data-live-search="true" data-selected-text-format="count > 2" multiple></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-4 my-2">
                    <div class="card my-3">
                        <div class="card-header">
                            Exclusion Roles
                        </div>

                        <p class="card-text px-3 pt-3">
                            Members with these roles will not have their roles or nickname changed.
                        </p>

                        <div class="form-floating px-3 py-3">
                            <select class="discord-role-selector" id="exclusion-roles" aria-label="Exclusion Roles" data-live-search="true" data-selected-text-format="count > 2" multiple></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Faction Verification</h5>
            <p class="card-text">
                Verifies users in a Torn Discord server by the faction ID. Any faction can be used for this verification.
            </p>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-4 my-2">
                    <div class="form-floating input-group">
                        <input class="form-control" id="faction-verification-input" name="factiontid" inputmode="numeric">
                        <label for="factiontid">Torn Faction ID</label>
                        <button type="button" id="faction-verification-submit" class="btn btn-outline-success">Add</button>
                    </div>

                    {% for faction in guild.faction_verify %}
                    <div class="card my-3">
                        <div class="card-header">
                            NYI [{{ faction }}]
                            {% if guild.faction_verify[faction]["enabled"] %}
                                <i class="fa-solid fa-circle-check" data-bs-toggle="tooltip" data-bs-placement="top"
                                   title="Faction Enabled"></i>
                            {% else %}
                                <i class="fa-solid fa-circle-xmark" data-bs-toggle="tooltip" data-bs-placement="top"
                                   title="Faction Disabled"></i>
                            {% endif %}
                        </div>

                        <div class="form-floating px-3 py-3">
                            <select class="discord-role-selector verification-faction-roles" data-faction="{{ faction }}" aria-label="Verification Faction Roles" data-live-search="true" data-selected-text-format="count > 2" multiple></select>
                            <div class="form-text">
                                The roles that are assigned to members of this faction.
                            </div>
                        </div>

                        <div class="form-floating px-3 py-3">
                            <button type="button" class="btn btn-outline-warning verification-faction-edit" data-faction="{{ faction }}">Edit Faction Config</button>
                            <button type="button" class="btn btn-outline-danger verification-faction-remove" data-faction="{{ faction }}">Remove Faction Config</button>
                        </div>

                        <div class="card-footer">
                            Enable or disable this faction's verification.

                            <div class="mt-1">
                                {% if guild.faction_verify[faction]["enabled"] %}
                                <button type="button" class="btn btn-outline-primary verification-faction-enable" data-faction="{{ faction }}" disabled>
                                    Enable
                                </button>
                                <button type="button" class="btn btn-outline-primary verification-faction-disable" data-faction="{{ faction }}">
                                    Disable
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-outline-primary verification-faction-enable" data-faction="{{ faction }}">
                                    Enable
                                </button>
                                <button type="button" class="btn btn-outline-primary verification-faction-disable" data-faction="{{ faction }}" disabled>
                                    Disable
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal"></div>
{% endblock %}

{% block scripts %}
<script src="/static/global/discord.js" data-guildid="{{ guild.sid }}"></script>
<script src="/static/bot/verify.js"></script>
{% endblock %}
