{% extends 'base.html' %}

{% block title %}
Tornium - Admin Dashboard
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'admin/navbar.html' %}

<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Scheduled Tasks</h5>

            <div class="row">
                <form class="form-floating" method="POST" action="/admin/dashboard">
                    <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                        <input type="submit" class="btn btn-primary" id="refreshfactions" name="refreshfactions" value="Run Refresh Factions">
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                        <input type="submit" class="btn btn-primary" id="refreshguilds" name="refreshguilds" value="Run Refresh Guilds">
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                        <input type="submit" class="btn btn-primary" id="refreshusers" name="refreshusers" value="Run Refresh Users">
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                        <input type="submit" class="btn btn-primary" id="fetchattacks" name="fetchattacks" value="Run Fetch Attacks">
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                        <input type="submit" class="btn btn-primary" id="refreshuserstakeouts" name="refreshuserstakeouts" value="Run Refresh User Stakeouts">
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                        <input type="submit" class="btn btn-primary" id="refreshfactionstakeouts" name="refreshfactionstakeouts" value="Run Refresh Faction Stakeouts">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
