{% extends 'base.html' %}

{% block title %}
Tornium - Admin Database
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'admin/navbar.html' %}

<div class="py-3 px-3">
    <div class="card min-w-25 max-w-50">
        <div class="card-body">
            <h5 class="card-title">Admin Database</h5>
          
            <a href="/admin/database/user" class="card-link">User Database</a>
            <a href="/admin/database/faction" class="card-link">Faction Database</a>
        </div>
    </div>
</div>
{% endblock %}
