{% extends 'base.html' %}

{% block title %}
Tornium - Admin Server
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'admin/navbar.html' %}

<div class="py-3 px-3">
    <div class="card min-w-25 max-w-50">
        <div class="card-header">
            Server: {{ server.name }}[{{ server.sid }}]
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">SID: {{ server.sid }}</li>
            <li class="list-group-item">Name: {{ server.name }}</li>
            <li class="list-group-item">
                Admins:
                <ul class="list-group">
                    {% for admin in server.admins %}
                    <li class="list-group-item">
                        <a href="/admin/database/user/{{ admin }}">Link to {{ admin }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="list-group-item">Prefix: {{server.prefix}} </li>
            <li class="list-group-item">
                Server Config:
                <ul class="list-group">
                    <li class="list-group-item">Stakeouts: {{ server.config["stakeouts"] }}</li>
                    <li class="list-group-item">Assists: {{ server.config["assists"] }}</li>
                </ul>
            </li>
            <li class="list-group-item">
                Factions:
                <ul class="list-group">
                    {% for faction in server.factions %}
                    <li class="list-group-item">
                        <a href="/admin/database/faction/{{ faction }}">Link to {{ faction }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="list-group-item">Stakeout Category: {{ server.stakeoutconfig["category"] }}</li>
            <li class="list-group-item">
                User Stakeouts:
                <ul class="list-group">
                    {% for stakeout in server.userstakeouts %}
                    <li class="list-group-item">
                        <a href="/admin/database/stakeout/user/{{ stakeout }}">Link to stakeout on {{ stakout }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="list-group-item">
                Faction Stakeouts:
                <ul class="list-group">
                    {% for stakeout in server.factionstakeouts %}
                    <li class="list-group-item">
                        <a href="/admin/database/stakeout/faction/{{ stakeut }}">Link to stakeout on {{ stakeout }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="list-group-item">Assists Channel: {{ server.assistschannel }}</li>
        </ul>
    </div>
</div>

{% endblock %}
