{% extends 'base.html' %}

{% block title %}
Tornium - Admin User
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'admin/navbar.html' %}

<div class="py-3 px-3">
    <div class="card min-w-25 max-w-50">
        <div class="card-header">
            User: {{ user.name }}[{{ user.tid }}]
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">TID: {{ user.tid }}</li>
            <li class="list-group-item">Name: {{ user.name }}</li>
            <li class="list-group-item">Level: {{ user.level }}</li>
            <li class="list-group-item">Last Refresh: {{ user.last_refresh | tcttime }}</li>
            <li class="list-group-item">Admin: {{ user.admin }}</li>
            <li class="list-group-item">Battlescore Update: {{ user.battlescore_update | tcttime }}</li>
            <li class="list-group-item">Discord ID: {{ user.discordid }}</li>
            <li class="list-group-item">Faction ID: {{ user.factionid }}</li>
            <li class="list-group-item">Faction: <a href="/admin/database/faction/{{ user.factionid }}">Link to {{ user.factionid }}</a></li>
            <li class="list-group-item">Faction AA: {{ user.factionaa }}</li>
            <li class="list-group-item">Chain Hits: {{ user.chain_hits }}</li>
            {% if user.servers|length != 0 %}
            <li class="list-group-item">
                Servers:

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <ul class="list-group">
                            {% for server in user.servers %}
                                <li class="list-group-item"><a href="/admin/server/{{ server }}">Link to {{ server }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            {% else %}
            <li class="list-group-item">Servers: None</li>
            {% endif %}
            <li class="list-group-item">Status: {{ user.status }}</li>
            <li class="list-group-item">Last Action: {{ user.last_action | tcttime }}</li>
            <li class="list-group-item">Pro: {{ user.pro }}</li>
            <li class="list-group-item">Pro Expiration: {{ user.pro_expiration | tcttime }}</li>
        </ul>
    </div>
</div>

{% endblock %}
