<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/css/bootstrap.min.css" integrity="sha512-72OVeAaPeV8n3BdZj7hOkaPSEk/uwpDkaGyP4W2jSzAC8tfiO4LMEDWoL3uFp5mcZu+8Eehb4GhZWFwvrss69Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/fonts/JetBrainsMono-Light.woff2">
    <link rel="shortcut icon" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/base.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/js/bootstrap.min.js" integrity="sha512-eHx4nbBTkIr2i0m9SANm/cczPESd0DUEcfl84JpIuutE6oDxPhXvskMR08Wmvmfx5wUpVjlWdi82G5YLvqqJdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/static/themes/dark.css" >
    <link rel="stylesheet" href="/static/themes/neon-dark.css" >

    <script src="/static/global/modeSelector.js"></script>
</head>
<body class="primary">
    <div class="container">
        <div class="row min-vh-100">
            <div class="col-sm-12 col-md-12 col-lg-6 mx-auto my-auto">
                <div class="card m-3">
                    <div class="card-body container-fluid">
                        <h2 class="card-title">Error: HTTP 500 | Internal Server Error</h2>

                        <p class="card-text">
                            The server has encountered an unexpected issue that has prevented a successful response.
                        </p>

                        <p class="card-text">
                            This error has likely been caught by Tornium's automated logging tool. However, if you need
                            help or this error continues occuring, please contact tiksan on
                            <a href="https://discord.com/users/695828257949352028">Discord</a>.
                        </p>

                        <a class="btn btn-outline-warning" href="javascript:history.back()">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>