{% extends 'base.html' %}

{% block title %}
Tornium - Settings
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/settings">Settings</a>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body row">
        <h5 class="card-title">Tornium Client Settings</h5>
        <p class="card-text">
            Settings for Tornium clients that's stored in cookies on a per-device basis.
        </p>

        <div class="col-sm-12 col-md-8 col-xl-4">
            <p class="card-text mb-2">Theme Selector: </p>
            <select id="theme-selector" class="form-select" aria-label="Theme selection">
                <option value="light">Light (Bootstrap)</option>
                <option disabled value="dark">Dark (Bootstrap)</option>
                <option value="custom-dark">Dark (Customized)</option>
                <option value="neon-dark">High Contrast (Neon+Dark)</option>
            </select>
        </div>
    </div>
</div>

<div class="card mx-3 my-3">
    <div class="card-body">
        <h5 class="card-title">Two-Factor Authentication</h5>
        <p class="card-text">
            Two-factor authentication (2FA) is an enhanced security measure. 2FA is intended to prevent
            access to a user's Tornium account if their API key or Discord account is compromised. Once enabled,
            you will be required to give two forms of identification when you sign into Tornium.
        </p>

        {% if current_user.security %}
        <form method="POST" target="_self" action="/settings/totp/disable">
            <input type="hidden" id="csrf-token" name="csrf-token" hidden value="{{ session["csrf_token"] }}">
            <button type="submit" class="btn btn-outline-secondary">Disable TOTP</button>
        </form>
        {% else %}
        <a href="/settings/totp/setup" class="btn btn-outline-secondary">Setup TOTP</a>
        {% endif %}

        {% if current_user.security != 0 %}
        <hr />
        <h6 class="card-title">Backup Codes</h6>
        <p class="card-text">
            With two-factor authentication enabled, you will need backup codes in case you lose your authenticator.
            Without an authenticator and backup codes, you will have to contact 
            <a href="https://www.torn.com/profiles.php?XID=2383326">tiksan [2383326]</a> to recover your account. We
            recommend storing the backup codes in a safe place as they can only be viewed once when first generated.
            <a href="https://docs.tornium.com/reference/2fa.html#enable-2fa">Learn more</a>.
        </p>

        <form method="POST" target="_self" action="/settings/totp/backup">
            <input type="hidden" id="csrf-token" name="csrf-token" hidden value="{{ session["csrf_token"] }}">
            <button type="submit" class="btn btn-outline-secondary">Regenerate Backup Codes</button>
        </form>
        
        <p class="text-secondary ms-2 mt-2">{{ current_user.otp_backups | length }}/10 Remaining</p>
        {% endif %}
    </div>
</div>

<div class="card mx-3 my-3 row">
    <div class="card-body">
        <h5 class="card-title">Tornium API Key Settings</h5>

        <div class="col-sm-12 col-md-8 col-xl-4">
            <div class="input-group mt-1">
                <span class="input-group-text">Discord Linked</span>
                <span class="form-control">{{ discord_linked }}</span>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-xl-6">
            <div class="card mt-3">
                <div class="card-header">API Keys</div>
                <ul class="list-group list-group-flush">
                    {% for api_key in api_keys %}
                        <li class="list-group-item d-flex flex-wrap justify-content-between">
                            <div>
                                {{ api_key.api_key[:6] ~ "*" * 10 }}

                                {% if api_key.default %}
                                <div class="btn btn-sm btn-outline-primary disabled">Default</div>
                                {% endif %}

                                {% if api_key.paused %}
                                <div class="btn btn-sm btn-outline-warning disabled">Paused</div>
                                {% endif %}

                                {% if api_key.access_level == 1 %}
                                <div class="btn btn-sm btn-outline disabled">Public</div>
                                {% elif api_key.access_level == 2 %}
                                <div class="btn btn-sm btn-outline-success disabled">Minimal</div>
                                {% elif api_key.access_level == 3 %}
                                <div class="btn btn-sm btn-outline-warning disabled">Limited</div>
                                {% elif api_key.access_level == 4 %}
                                <div class="btn btn-sm btn-outline-danger disabled">Full</div>
                                {% endif %}
                            </div>

                            <div class="mt-3 mt-md-0">
                                {% if api_key.disabled %}
                                <button type="button" class="btn btn-sm btn-outline-success enable-key" data-key-guid="{{ api_key.guid }}">Enable</button>
                                {% else %}
                                <button type="button" class="btn btn-sm btn-outline-danger disable-key" data-key-guid="{{ api_key.guid }}">Disable</button>
                                {% endif %}

                                <button type="button" class="btn btn-sm btn-outline-danger delete-key" data-key-guid="{{ api_key.guid }}">Delete</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="card-footer">
                    <div class="form-floating">
                        <div class="input-group py-1">
                            <input type="password" minlength="16" maxlength="16" required class="form-control form-control-sm" id="api-key-input" placeholder="Torn API key" autocomplete="off">
                            <button type="button" class="btn btn-sm btn-outline-success input-group-text" id="submit-new-key">Add</button>
                        </div>

                        <div class="form-text">
                            <b>NOTE:</b> Tornium will not accept custom access API keys.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-xl-6">
            <div class="card mt-3">
                <div class="card-header">Tornium Usage Settings</div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label for="cpr-toggle" class="form-label">Share CPR:</label>
                        <p><small>Collect and share your CPR data for all available organized crimes for the <a href="/faction/crimes/cpr">faction CPR viewer</a>.</small></p>

                        <input type="radio" class="btn-check" name="cpr-toggle" id="cpr-toggle-enable" autocomplete="off" {% if current_user.settings is not none and current_user.settings.cpr_enabled %} checked {% endif %}>
                        <label class="btn" for="cpr-toggle-enable">Enable</label>

                        <input type="radio" class="btn-check" name="cpr-toggle" id="cpr-toggle-disable" autocomplete="off" {% if current_user.settings is none or not current_user.settings.cpr_enabled %} checked {% endif %}>
                        <label class="btn" for="cpr-toggle-disable">Disable</label>
                    </li>

                    <li class="list-group-item">
                        <label for="cpr-toggle" class="form-label mb-0">Share opponent stats:</label>
                        <p><small>Collect and share your opponents' stats via fair fight for the <a href="/stats/db">stat database</a>.</small></p>

                        <input type="radio" class="btn-check" name="stat-db-toggle" id="stat-db-toggle-enable" autocomplete="off" {% if current_user.settings is not none and current_user.settings.stat_db_enabled %} checked {% endif %}>
                        <label class="btn" for="stat-db-toggle-enable">Enable</label>

                        <input type="radio" class="btn-check" name="stat-db-toggle" id="stat-db-toggle-disable" autocomplete="off" {% if current_user.settings is none or not current_user.settings.stat_db_enabled %} checked {% endif %}>
                        <label class="btn" for="stat-db-toggle-disable">Disable</label>
                    </li>

                    <li class="list-group-item">
                        <label for="od-drug-toggle" class="form-label mb-0">Share overdosed drug:</label>
                        <p><small>Collect and share the drug you've overdosed on from your logs.</small></p>

                        <input type="radio" class="btn-check" name="od-drug-toggle" id="od-drug-toggle-enable" autocomplete="off" {% if current_user.settings is not none and current_user.settings.od_drug_enabled %} checked {% endif %}>
                        <label class="btn" for="od-drug-toggle-enable">Enable</label>

                        <input type="radio" class="btn-check" name="od-drug-toggle" id="od-drug-toggle-disable" autocomplete="off" {% if current_user.settings is none or not current_user.settings.od_drug_enabled %} checked {% endif %}>
                        <label class="btn" for="od-drug-toggle-disable">Disable</label>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mx-3 my-3">
    <div class="card-body">
        <h5 class="card-title">Authorized Applications</h5>
        <p class="card-text">
            You have authorized access to your Tornium account to the following <span id="application-count">{{ applications|count }}</span> application(s):
        </p>

        <ul class="list-group list-group-flush">
            {% for application in applications %}
            <li class="list-group-item d-flex flex-wrap flex-lg-nowrap justify-content-lg-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold align-middle">
                        <a href="/settings/application/{{ application.client.client_id }}">{{ application.client.client_name }}</a>
                        
                        {% if application.client.official %}
                        <div class="btn btn-sm btn-outline-success">Official</div>
                        {% endif %}

                        {% if application.client.verified %}
                        <div class="btn btn-sm btn-outline-success">Verified</div>
                        {% else %}
                        <div class="btn btn-sm btn-outline-warning">Unverified</div>
                        {% endif %}
                    </div>
                    Created by: <a href="https://torn.com/profiles.php?XID={{ application.client.user_id }}">{{ application.client.user.user_str_self() }}</a>
                </div>

                <button class="ms-2 mt-2 btn btn-outline-danger revoke-client" data-client-id="{{ application.client.client_id }}">Revoke</button>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/settings/settings.js"></script>
{% endblock %}
