<div class="modal fade" id="item-modal" tabindex="-1" aria-labelledby="stats-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">{{ item["name"] }} [{{ item["ID"] }}]</h5>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            Item Name:
                        </div>
                        <div class="col-sm-4">
                            {{ item["name"] }} [{{ item["ID"] }}]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Item Type:
                        </div>
                        <div class="col-sm-4">
                            {{ item["type"] }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Item Quantity
                        </div>
                        <div class="col-sm-4">
                            {{ item["quantity"] }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Item Availability:
                        </div>
                        <div class="col-sm-4">
                            {{ item["available"] }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Item Loaned:
                        </div>
                        <div class="col-sm-4">
                            {{ item["loaned"] }}
                        </div>
                    </div>
                </div>

                <table id="item-table" class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Number Loaned</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in item["loaned_to"] %}
                            <tr>
                                <th>{{ user }}</th>
                                <th>{{ item["loaned_to"][user] }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
