{% extends 'base.html' %}

{% block title %}
Tornium - Faction Armory
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'faction/navbar.html' %}

<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Item and User Based Armory Statuses</h5>

            <div class="row">
                <!-- <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                    <table id="armory-users-table" class="table table-striped table-bordered responsive">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Quantity Loaned</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div> -->

                <div class="col-sm-12 col-md-8 col-lg-4 my-2">
                    <table id="armory-items-table" class="table table-striped table-bordered responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Total Quantity</th>
                                <th>Available</th>
                                <th>Loaned</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/faction/armory.js" data-key="{{ current_user.key }}"></script>
{% endblock %}
