{% extends 'base.html' %}

{% block title %}
Tornium - Faction Bot Dashboard
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'faction/navbar.html' %}

<div class="py-3 px-3">
    <div class="card min-w-25 max-w-50">
        <div class="card-body">
            <h5 class="card-title">Guild ID</h5>
            <p class="card-text">
                The ID of the Discord guild/server in which the faction and bot is located. For more information on how to
                retrieve the guild ID (and other Discord IDs), check out Discord Support
                <a href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-">
                    here
                </a>. In order to set other bot configurations, please set the faction's guild ID first.
            </p>
            <form class="form-floating" method="POST" action="/faction/bot">
                <input class="form-control" id="guildid" name="guildid" value="{{ guildid }}">
                <label for="guildid">Guild ID</label>
            </form>
        </div>
    </div>

    {% if guildid != 0 %}
    <div class="card min-w-25 max-w-50 my-3">
        <div class="card-body">
            <h5 class="card-title">Vault Configuration</h5>
            <p class="card-text">
                <form class="form-floating my-3" method="POST" action="/faction/bot">
                    <input class="form-control" id="withdrawal" name="withdrawal" value="{{ vault_config['withdrawal'] }}">
                    <label for="withdrawal">Withdrawal Channel</label>
                </form>

                <form class="form-floating my-3" method="POST" action="/faction/bot">
                    <input class="form-control" id="banking" name="banking" value="{{ vault_config['banking'] }}">
                    <label for="banking">Banking Channel</label>
                </form>

                <form class="form-floating my-3" method="POST" action="/faction/bot">
                    <input class="form-control" id="banker" name="banker" value="{{ vault_config['banker'] }}">
                    <label for="banker">Banker Role</label>
                </form>

                <form class="form-floating" method="POST" action="/faction/bot">
                    {% if config['vault'] == 0 %}
                    <input type="submit" class="btn btn-primary" id="enabled" name="enabled" value="Enabled">
                    <input type="submit" class="btn btn-primary active" disabled id="disabled" name="disabled" value="Disabled">
                    {% else %}
                    <input type="submit" class="btn btn-primary active" disabled id="enabled" name="enabled" value="Enabled">
                    <input type="submit" class="btn btn-primary" id="disabled" name="disabled" value="Disabled">
                    {% endif %}
                </form>
            </p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
