{% extends 'base.html' %}

{% block title %}
Tornium - Faction Bot Dashboard
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'faction/navbar.html' %}

<div class="py-3 px-3">
    <div class="card min-w-25 max-w-50 my-3">
        <div class="card-body">
            <h5 class="card-title">Assists</h5>
            <p class="card-text">
                Assists can be forwarded to valid servers by either a Discord bot command or via the 
                <a href="/userscripts/tornium-assists.user.js">userscript</a>. Server admins can set up the assist setting in the bot dashboard.
                <br />
                <b>NOTE:</b> This feature's current revision only works on servers with SkyNet (the new Discord bot) while servers with 
                the original bot still utilize the server's assist channel but not the forwarding factions.
            </p>
        </div>
    </div>

    {% if guildid != 0 and current_user.aa %}
    <div class="card min-w-25 max-w-50 my-3">
        <div class="card-body">
            <h5 class="card-title">Chain OD Watcher</h5>
            <p class="card-text">
                The chain OD watcher reports overdoses of faction members in the specified channel when enabled.
            </p>

            <select class="discord-channel-selector" id="od-channel" aria-label="OD Log Channel" data-live-search="true">
                <option value="0">Disabled</option>
            </select>
        </div>
    </div>
    {% elif guildid == 0 and current_user.aa %}
    <div class="card min-2-25 max-w-50 my-3">
        <div class="card-body">
            <h5 class="card-title">Chain OD Watcher</h5>
            <p class="card-text text-danger">
                <b>
                    The faction's guild ID is required to be set up in the faction's
                    <a href="/faction/bot" class="text-danger" style="text-decoration: underline">bot dashboard</a> before the OD Watcher can be set up.
                </b>
            </p>

            <p class="card-text">
                The chain OD watcher reports overdoses of faction members in the specified channel when enabled.
            </p>
        </div>
    </div>
    {% endif %}
</div>

<script src="/static/faction/chain.js" data-guildid="{{ faction.guild }}" data-key="{{ current_user.key }}"></script>
{% endblock %}
