{% extends 'base.html' %}

{% block title %}
Tornium - Faction Group {{ group.name }}
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'faction/navbar.html' %}

<div class="py-3 px-3">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card min-w-25 max-w-50 mt-3">
                <div class="card-body">
                    <h5 class="card-title">Faction Group Configuration of {{ group.name }}</h5>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <form class="form-floating my-2" id="name-form">
                                <input class="form-control" name="groupname" id="groupname" value="{{ group.name }}">
                                <label for="groupname">Group Name</label>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Faction Group Membership</h5>
                                    <p class="card-text">
                                        {% for member in members %}
                                            {{ member.name }} [{{ member.tid }}]
                                            {% if current_user.factiontid == group.creator and member.tid != group.creator %}
                                                <i class="fas fa-user-slash remove" id="remove-{{ member.tid }}"></i>
                                            {% endif %}
                                            <br />
                                        {% endfor %}
                                    </p>

                                    <p class="card-text mt-2">
                                        Invite Link: <a href="/faction/group/invite/{{ group.invite }}">{{ group.invite }}</a>
                                        {% if current_user.factiontid == group.creator %}
                                            <br />
                                            <button type="button" class="btn btn-primary" id="refresh-invite">Refresh Invite Link</button>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-danger mt-3" id="delete-group">Delete Faction Group</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Configuration of {{ faction.name }}</h5>

                    <form class="form-check form-switch" autocomplete="off">
                        {% if faction.tid not in group.sharestats %}
                            <input class="form-check-input" type="checkbox" id="share-statdb">
                        {% else %}
                            <input class="form-check-input" type="checkbox" id="share-statdb" checked>
                        {% endif %}
                        <label class="form-check-label" for="share-statdb">Share Stat Database</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/faction/group.js" data-key="{{ key }}" data-tid="{{ group.tid }}"></script>

{% endblock %}
