{% extends 'base.html' %}

{% block title %}
Tornium - Faction
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/faction">Faction</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/faction/members">
                <i class="col-1 col-sm-2 fa-solid fa-shield-halved"></i> <span class="col">Members</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/banking">
                <i class="col-1 col-sm-2 fa-solid fa-money-check"></i> <span class="col">Banking</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.factiontid != 0 %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/chain">
                <i class="col-1 col-sm-2 fa-solid fa-link"></i> <span class="col">Chains</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.aa %}
        <div class="row mb-3">
            <a class="nav-link" href="/faction/bankingaa">
                <i class="col-1 col-sm-2 fa-solid fa-cash-register"></i> <span class="col">Banking AA</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/faction/bot">
                <i class="col-1 col-sm-2 fa-brands fa-discord"></i> <span class="col">Bot Configuration</span>
            </a>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-list"></i>
                Features
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            OD Watcher - a faction utility that reports overdoses in a specified Discord channel when enabled
                        </li>
                        <li class="list-group-item">
                            Banking - a faction utility for requesting money from the faction vault
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
