<div class="modal fade" id="faction-modal" tabindex="-1" aria-labelledby="faction-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">{{ faction.name }} [{{ faction.tid }}]</h5>
                <button class="btn">
                    <a href="https://www.torn.com/factions.php?step=profile&ID={{ faction.tid }}">
                        <i class="fa-solid fa-id-card"></i>
                    </a>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header">
                        Faction Stats
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ faction.name }}</li>
                        <li class="list-group-item">ID: {{ faction.tid }}</li>
                        <li class="list-group-item">Respect: {{ faction.respect|commas }}</li>
                        <li class="list-group-item">Leader: <a href="/torn/users?tid={{ faction.leader }}">{{ faction.leader }}</a></li>
                        <li class="list-group-item">Co-Leader: <a href="/torn/users?tid={{ faction.coleader }}">{{ faction.coleader }}</a></li>
                    </ul>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        Members
                        <h6 class="card-subtitle mt-1 mb-2 text-muted">Last Updated: {{ faction.last_members|reltime }}</h6>
                    </div>

                    <table id="member-table" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Level</th>
                                <th>Status</th>
                                <th>Discord</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <th>{{ member.name }} [{{ member.tid }}]</th>
                                    <th>{{ member.level }}</th>
                                    <th><span data-bs-toggle="tooltip" data-bs-placement="right" title="Last Action: {{ member.last_action|reltime }}">{{ member.status }}</span></th>
                                    <th><a href="https://discordapp.com/users/{{ member.discord_id }}">{{ member.discord_id }}</a></th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
