<div class="modal fade" id="faction-modal" tabindex="-1" aria-labelledby="faction-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">{{ faction.name }} [{{ faction.tid }}]</h5>
                <button class="btn">
                    <a href="https://www.torn.com/factions.php?step=profile&ID={{ faction.tid }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-id-card"></i>
                    </a>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header">
                        Faction Stats
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ faction.name }}</li>
                        <li class="list-group-item">ID: {{ faction.tid }}</li>
                        <li class="list-group-item">Respect: {{ faction.respect|commas }}</li>
                        <li class="list-group-item">Leader: <a href="/torn/users?tid={{ faction.leader }}">{{ leader.name }} [{{ faction.leader }}]</a></li>
                        {% if faction.coleader != 0 %}
                            <li class="list-group-item">Co-Leader: <a href="/torn/users?tid={{ faction.coleader }}">{{ coleader.name }} [{{ faction.coleader }}]</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        Members
                        <h6 class="card-subtitle mt-1 mb-2 text-muted">Last Updated: {{ faction.last_members|reltime }}</h6>
                    </div>

                    <table id="member-table" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <td>Username</td>
                                <td>Level</td>
                                <td>Status</td>
                                <td>Discord</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <td><a href="https://www.torn.com/profiles.php?XID={{ member.tid }}" style="color: black" target="_blank" rel="noopener noreferrer">{{ member.name }} [{{ member.tid }}]</a></td>
                                    <td>{{ member.level }}</td>
                                    <td><span data-bs-toggle="tooltip" data-bs-placement="right" title="Last Action: {{ member.last_action|reltime }}">{{ member.status }}</span></td>
                                    <td><a href="https://discordapp.com/users/{{ member.discord_id }}" style="color: black" target="_blank" rel="noopener noreferrer">{{ member.discord_id }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
