{% extends 'base.html' %}

{% block title %}
Tornium - Torn
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/torn">Torn Data</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/torn/factions">
                <i class="col-1 col-sm-2 fa-solid fa-person-military-rifle"></i> <span class="col">Factions</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/users">
                <i class="col-1 col-sm-2 fa-solid fa-person-rifle"></i> <span class="col">Users</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/stocks">
                <i class="col-1 col-sm-2 fa-solid fa-arrow-trend-up"></i> <span class="col">Stocks</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/factions/member-report">
                <i class="col-1 col-sm-2 fa-solid fa-users-viewfinder"></i> <span class="col">Member Report</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-list"></i>
                Features
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-person-military-rifle"></i>
                            Factions DB - a utility to search for and show factions
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-person-rifle"></i>
                            Users DB - a utility to search for and list users
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-arrow-trend-up"></i>
                            Stocks - a utility to list stocks data and passive investments
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-users-viewfinder"></i>
                            [TESTING] Member Report Generator - a report generator listing the progression of a factions' members' personal stats over time
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
