{% extends 'base.html' %}

{% block title %}
Tornium - Member Report
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/torn">Torn Data</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/torn/factions">Factions</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/torn/factions/member-report">Member Report</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/torn/factions">
                <i class="col-1 col-sm-2 fa-solid fa-person-military-rifle"></i> <span class="col">Factions</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/users">
                <i class="col-1 col-sm-2 fa-solid fa-person-rifle"></i> <span class="col">Users</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/stocks">
                <i class="col-1 col-sm-2 fa-solid fa-arrow-trend-up"></i> <span class="col">Stocks</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/factions/member-report">
                <i class="col-1 col-sm-2 fa-solid fa-users-viewfinder"></i> <span class="col">Member Report</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title mb-2">Existing Faction Member Reports</h5>

        <div id="existing-report-container">
            No results found...
        </div>

        <div class="mt-2 me-3 text-end">
            <span id="report-count">No</span> report(s) located
        </div>
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Generate New Report</h5>
        <p class="card-text">
            Generate a new faction member report by selecting the starting and ending time, data to be collected,
            faction to be used, and availability of the data. All time inputs utilize local time use and/or show TCT.
        </p>

        <p class="card-text">
            Due to limitations of the tech stack used in Tornium, please stick to one faction member report at a time
            avoid having issues with the Torn ratelimit.
        </p>

        <p class="card-text">
            <b>WARNING: </b> Faction availability is not allowed during the testing period.
        </p>

        <div class="form-floating row ps-1 me-2 display-flex">
            {% if current_user.faction_aa %}
            <div class="col-sm-12 col-md-10 col-xl-4 ps-1 pt-2">
            {% else %}
            <div class="col-sm-12 col-md-10 col-xl-4 ps-1 pt-2">
            {% endif %}
                <div class="input-group">
                    <span class="input-group-text">Faction</span>
                    <input type="text" class="form-control" id="faction-id-input" autocomplete="off" required>
                </div>
            </div>

            {% if current_user.faction_aa %}
            <div class="col-sm-12 col-md-10 col-xl-3 ps-1 pt-2">
            {% else %}
            <div class="col-sm-12 col-md-10 col-xl-4 ps-1 pt-2">
            {% endif %}
                <div class="input-group">
                    <span class="input-group-text">Start Time</span>
                    <input type="date" class="form-control" id="start-time-input" autocomplete="off" required>
                </div>
            </div>

            {% if current_user.faction_aa %}
            <div class="col-sm-12 col-md-10 col-xl-3 ps-1 pt-2">
            {% else %}
            <div class="col-sm-12 col-md-10 col-xl-4 ps-1 pt-2">
            {% endif %}
                <div class="input-group">
                    <span class="input-group-text">End Time</span>
                    <input type="date" class="form-control" id="end-time-input" autocomplete="off" required>
                </div>
            </div>

            {% if current_user.faction_aa %}
            <div class="col-sm-12 col-md-10 col-xl-2 ps-1 pt-2">
                <div class="input-group">
                    <div class="input-group-text">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="data-availability" id="user-data-availability" type="radio" value="user" checked>
                            <label class="form-check-label" for="user-data-availability">User</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="data-availability" id="faction-data-availability" type="radio" value="faction" autocomplete="off">
                            <label class="form-check-label" for="faction-data-availability">Faction</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <hr style="margin-top:1rem">

            <select class="selectpicker w-100" id="ps-select" multiple data-live-search="true" data-max-options="10" title="Select up to 10 personal stats..." autocomplete="off">
                {% for ps in ps_keys %}
                <option>{{ ps }}</option>
                {% endfor %}
            </select>

            <hr style="margin-top:1rem">

            <button type="button" class="btn btn-outline-success px-5" id="generate-report">Generate Report</button>
        </div>
    </div>
</div>

<script src="/static/torn/member-report.js"></script>
{% endblock %}
