{% extends 'base.html' %}

{% block title %}
Tornium - Users DB
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/torn">Torn Data</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/torn/users">Users</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/torn/factions">
                <i class="col-1 col-sm-2 fa-solid fa-person-military-rifle"></i> <span class="col">Factions</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/users">
                <i class="col-1 col-sm-2 fa-solid fa-person-rifle"></i> <span class="col">Users</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/torn/stocks">
                <i class="col-1 col-sm-2 fa-solid fa-arrow-trend-up"></i> <span class="col">Stocks</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Show User</h5>
            <p class="card-text">Show a specific user by user ID.</p>

            <div class="col-sm-12 col-md-8 col-xl-4">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" type="button" id="userid-button">User ID</button>
                    <input type="number" class="form-control" aria-label="User ID" aria-describedby="userid-button" id="userid-input">
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Users Database</h5>
            <p class="card-text">
                The below table shows all users that are currently loaded into Tornium's databases. As API calls are
                made, the table will further populate. If you're searching for a user that isn't in the below table,
                take a look at the above search field which will open the user from the user ID.
            </p>

            <table id="users-table" class="table table-striped table-bordered w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Faction</th>
                        <th>Last Action</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">User Personal Stat Database</h5>
            <p class="card-text">
                The below table shows all users who have their personal stats loaded into Tornium's database. As API
                calls are made, the table will further populate.
            </p>

            <table id="users-ps-table" class="table table-striped table-bordered w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Playtime</th>
                        <th>Attacks Won</th>
                        <th>SEs Used</th>
                        <th>Xanax Used</th>
                        <th>LSD Used</th>
                        <th>Networth</th>
                        <th>Energy Drinks Used</th>
                        <th>Refills Used</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal">
</div>

<script src="/static/torn/users.js"></script>
{% endblock %}
