<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="user-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">{{ user.name }} [{{ user.tid }}]</h5>
                <button class="btn">
                    <a href="https://www.torn.com/loader.php?sid=attack&user2ID={{ user.tid }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-crosshairs"></i>
                    </a>
                    <a href="https://www.torn.com/profiles.php?XID={{ user.tid }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-id-card"></i>
                    </a>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header">
                        User Stats
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ user.name }}</li>
                        <li class="list-group-item">ID: {{ user.tid }}</li>
                        <li class="list-group-item">Level: {{ user.level }}</li>
                        {% if user.factionid == 0 %}
                            <li class="list-group-item">Faction: None</li>
                        {% else %}
                            {% if faction.name == '' %}
                                <li class="list-group-item">Faction: <a href="/torn/factions?tid={{ user.factionid }}" target="_blank" rel="noopener noreferrer">{{ user.factionid }}</a></li>
                            {% else %}
                                <li class="list-group-item">Faction: <a href="/torn/factions?tid={{ user.factionid }}" target="_blank" rel="noopener noreferrer">{{ faction.name }} [{{ faction.tid }}]</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="list-group-item">Status: {{ user.status }}</li>
                        <li class="list-group-item">Last Action: {{ user.last_action|tcttime }}</li>
                        <li class="list-group-item">Last Update: {{ user.last_refresh|reltime }}</li>
                        {% if user.discord_id == 0 %}
                            <li class="list-group-item">Discord: None</li>
                        {% else %}
                            <li class="list-group-item">Discord: <a href="https://discordapp.com/users/{{ user.discord_id }}" target="_blank" rel="noopener noreferrer">{{ user.discord_id }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
