{% extends 'base.html' %}

{% block title %}
Tornium
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container h-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto justify-content-center">
        <main class="px-4 py-5 my-5 text-center">
            <p class="lead mb-4">
                Tornium Pro is a third-party Torn application developed by tiksan [2383326] to supplement existing
                applications such as <a href="https://yata.yt">YATA</a> and
                <a href="https://tonstats.com/">Torn Stats</a>. Tornium Pro is a continuation of
                <a href="https://torn.deek.sh">Tornium</a>, but is paid, closed-source software.
            </p>
        </main>
    </div>
</div>
{% endblock %}
