<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="URF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tornium - Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/login.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.svg">
</head>
<body>
<main class="form-signin">
    <form method="POST" action="/login?next={{ request.args.get('next') }}">
        <h1 class="h3 mb-3 fw-normal">Please sign in with your API key</h1>

        <div class="form-floating">
            <input type="password" class="form-control" id="key" name="key" placeholder="Enter your Torn API key">
            <label for="key">API Key</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</main>
</body>
</html>
