<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="URF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tornium - Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/fonts/JetBrainsMono-Light.woff2">
    <link rel="shortcut icon" href="/static/favicon.svg">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/static/themes/light.css" >
    <link rel="stylesheet" href="/static/themes/dark.css" >
    <link rel="stylesheet" href="/static/themes/neon-dark.css" >

    <script src="/static/global/modeSelector.js"></script>
</head>
<body class="primary">
    <div class="container">
        <div class="row min-vh-100">
            <div class="col-sm-12 col-md-12 col-lg-6 mx-auto my-auto">
                <div class="card m-3">
                    <div class="card-body container-fluid">
                        <h5 class="card-title">Log into Tornium</h5>

                        <p class="card-text">
                            Tornium keeps all your data protected and secured on its servers. No data or API keys will be accessed without permission beyond for security and maintenance.  It is recommended to use a separate API for each service you utilize.
                        </p>

                        <p class="card-text">
                            <b>NOTE:</b> Tornium logs all authentication attempts including IP addresses for security reasons.
                        </p>

                        <form method="POST" action="/login?state={{ session["oauth_state"] }}">
                            <div class="form-floating">
                                <div class="input-group">
                                    <input type="password" minlength="16" maxlength="16" required class="form-control" id="key" name="key" placeholder="Torn API key">
                                    <button type="submit" class="btn btn-outline-success input-group-text">Submit</button>
                                </div>

                                <div class="input-group d-flex justify-content-center">
                                    <a href="https://discord.com/oauth2/authorize?client_id=979105784627593266&redirect_uri=https%3A%2F%2Ftornium.com%2Flogin%2Fdiscord&response_type=code&scope=identify&state={{ session["oauth_state"] }}">
                                        <button type="button" class="btn btn-outline-secondary mt-3 input-group-text"><i class="fa-brands fa-discord"></i> Sign in with Discord</button>
                                    </a>
                                </div>

                                <div class="form-text pt-1">
                                    <b>NOTE:</b> Tornium will only accept limited or full access API keys. Any other API key access (including specific permissions) will not be accepted.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
