<nav class="navbar navbar-scroll navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Tornium</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span id="collapse-section-name>">Sections</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <i class="fa-solid fa-had-fist"></i>
                    <a class="nav-link" aria-current="page" href="/faction">
                        <i class="fas fa-fist-raised"></i>
                        Faction
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/bot">
                        <i class="fab fa-discord"></i>
                        Discord Bot
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/stats">
                        <i class="fas fa-database"></i>
                        Stat DB
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/api">
                        <i class="fas fa-code"></i>
                        API
                    </a>
                </li>
                {% if current_user.is_authenticated and current_user.admin %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin">
                        <i class="fas fa-user-shield"></i>
                        Admin
                    </a>
                </li>
                {% endif %}
            </ul>

            {% if not current_user.is_authenticated %}
            <form class="d-flex" method="POST" action="/login">
                <input class="form-control" type="password" aria-label="Key" id="key" name="key" placeholder="Enter your Torn API key">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-sign-in-alt"></i>
                    Submit
                </button>
            </form>
            {% else %}
            <form class="d-flex" method="POST" action="/logout">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
