{% extends 'base.html' %}

{% block title %}
Tornium - Settings
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/settings">Settings</a>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Tornium Client Settings</h5>
        <p class="card-text">
            Settings for Tornium clients that's stored in cookies on a per-device basis.
        </p>

        <select id="theme-selector" class="form-select" aria-label="Theme selection">
            <option value="light">Light (Bootstrap)</option>
            <option disabled value="dark">Dark (Bootstrap)</option>
            <option value="custom-dark">Dark (Customized)</option>
            <option value="neon-dark">Raz-Mode (Neon+Dark)</option>
        </select>
    </div>
</div>

<div class="card mx-3 my-3">
    <div class="card-body">
        <h5 class="card-title">Tornium Server Settings</h5>
        <p class="card-text">
            Settings for Tornium stored on the server that applies to all devices signed in with your API key.
        </p>

        <div class="card mx-3 my-3">
            <div class="card-body">
                <h5 class="card-title">Multi-Factor Authentication</h5>
                <p class="card-text">
                    Multi-faction authentication currently only supports TOTP. TOTP also includes support for backup
                    codes that are to be stored offline in case your 2Fa device can't be used.
                </p>

                <div class="my-1">
                    <button id="disable-mfa" class="m-2 btn btn-outline-danger {% if enabled_mfa == 0 %}disabled{% endif %}">Disabled</button>
                    <button id="enable-totp" class="m-2 btn btn-outline-success {% if enabled_mfa == 1 %}disabled{% endif %}">TOTP</button>
                </div>

                {% if enabled_mfa == 1 %}
                <div class="my-1">
                    <button id="show-totp-qr" class="m-2 btn btn-outline-success">Show TOTP QR Code</button>
                    <button id="regen-totp-secret" class="m-2 btn btn-outline-danger">Regenerate TOTP Secret</button>
                    <button id="regen-totp-codes" class="m-2 btn btn-outline-danger">Regenerate TOTP Backup Codes</button>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="card mx-3 my-3 row">
            <div class="card-body">
                <h5 class="card-title">Tornium API Key Settings</h5>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-text">API Key</span>
                        <input type="text" class="form-control" placeholder="{{ obfuscated_key }}" aria-label="API key">
                    </div>

                    <div class="input-group mt-1">
                        <span class="input-group-text">Discord SSO</span>
                        <span class="form-control" id="discord-sso-status">Un-Linked</span>
                    </div>

                    <a href="https://discord.com/oauth2/authorize?client_id=979105784627593266&redirect_uri=https%3A%2F%2Ftornium.com%2Flogin%2Fskynet&response_type=code&scope=identify"><button class="btn btn-outline-secondary mt-3" id="link-discord">Link Discord</button></a>
                </div>
            </div>
        </div>

        <button disabled class="m-2 btn btn-outline-danger">Delete Account</button>
    </div>
</div>

<div class="modal fade" id="settings-modal" tabindex="-1" aria-labelledby="settings-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settings-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="settings-modal-body"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/general/settings.js"></script>
{% endblock %}