{% extends 'base.html' %}

{% block title %}
Tornium - Terms of Service
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>

    <li class="breadcrumb-item active">
        <a href="/terms">Terms of Service</a>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="card m-3">
    <div class="card-body container-fluid">
        <h5 class="card-title">Terms of Service</h5>

        <p class="card-text">
            By inviting Tornium Bot to your Discord server or accessing the website 
            (<a href="https://tornium.com">https://torniun.com</a>) and using its features, you agree to the below
            terms and all applicable laws and regulations. You are also responsible for informing users in your 
            Discord server(s) about these terms. If you do not agree to these terms, you must not access or use 
            our website, bot, or other services.
        </p>

        <p class="card-text">
            NOTE: Discord's <a href="https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service">developer
            terms of service</a>, Discord's <a href="https://discord.com/terms">terms of service</a>, and Tornium's 
            <a href="https://github.com/tornium/tornium-core/blob/master/LICENSE">license</a>
            supersede this document. 
        </p>

        <p class="card-text">
            Any new features or tools which are added to the service shall also be subject to the Terms of Service. 
            You can review the most current version of the Terms of Service at any time on this page. We reserve 
            the right to update, change or replace any part of these Terms of Service by posting updates and/or 
            changes to our website. It is your responsibility to check this page periodically for changes. Your 
            continued use of or access to the service following the posting of any changes constitutes acceptance 
            of those changes.
        </p>

        <h6 class="card-subtitle text-body-secondary">Use of Service</h6>
        <p class="card-text">
            You may not use the service unless you are over the age of 13.
            You are responsible for the security of your API key(s) and for any use of your account. You 
            must notify us of any unauthorized access or use of your account or API key. We can not be held 
            liable for any loss or damage resulting from your failure to protect your account information.
            Your use of the service must comply with all applicable laws, regulations, and ordinances.
            You agree not to engage in any activity that interferes with or disrupts the service.
            Tornium reserves the right to enforce quotas or usage limits to any resource at its 
            discretion, with or without notice.
        </p>

        <h6 class="card-subtitle text-body-secondary">Availability</h6>
        <p class="card-text">
            Tornium and Tornium Bot are provided as-is. There are no guarantees that it will be available in the 
            future, and its purpose or availability may be changed at any time. User related data including backups 
            may be deleted at any time. User related data including backups is non-transferable between discord 
            accounts. Access to all and any specific features of Tornium and Tornium Bot may be revoked for any or 
            all users at any time. While the developer(s) attempts to provide a good user experience, we cannot and 
            do not represent or warrant that the services will always be secuuure or error-free or that the services 
            will always function without delays, disruptions, or imperfections.
        </p>

        <h6 class="card-subtitle text-body-secondary">Limitation of Liability</h6>
        <p class="card-text">
            To the maximum extent permitted by law, in no event will the team be liable to you or any third person 
            for any consequential, incidental, special, or other indirect damages, including any lost profits or 
            lost data, arising from your use of the service or other materials on, accessed through or downloaded 
            from the service, whether based on warranty, contract, or any other legal theory, and whether or not 
            the team has been adivised of the possibility of these damages. The limitations and disclaimers in these
            terms do not purport to limit liability or alter rights that cannot be excluded under applicable law.
        </p>

        <h6 class="card-subtitle text-body-secondary">Contributions, Ideas, and Feedback</h6>
        <p class="card-text">
            You may choose to or we may invite you to submit comments or iddeas about the service, including but 
            not limited to ideas about improving the service or products. By submitting any idea, you agree that 
            your disclosure is unsolicited and without restriction and will not place Tornium and Tornium Bot under 
            any fiduciary or other obligation,, and that we are free to use the idea with any additional compensation
            to you, and/or to disclose the idea on a non-confidential basis or otherwise to anyone.
        </p>

        <p class="card-text">
            By contributing to Tornium or Tornium Bot, you agree to the 
            <a href="https://developercertificate.org/">developer certification of origin</a>. This certifies that 
            you have written the code or have the right to submit the code to the project.
        </p>
    </div>
</div>
{% endblock %}
