<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="URF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tornium - Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/css/bootstrap.min.css" integrity="sha512-72OVeAaPeV8n3BdZj7hOkaPSEk/uwpDkaGyP4W2jSzAC8tfiO4LMEDWoL3uFp5mcZu+8Eehb4GhZWFwvrss69Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/fonts/JetBrainsMono-Light.woff2">
    <link rel="shortcut icon" href="/static/favicon.svg">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/js/bootstrap.min.js" integrity="sha512-eHx4nbBTkIr2i0m9SANm/cczPESd0DUEcfl84JpIuutE6oDxPhXvskMR08Wmvmfx5wUpVjlWdi82G5YLvqqJdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/static/themes/light.css" >
    <link rel="stylesheet" href="/static/themes/dark.css" >
    <link rel="stylesheet" href="/static/themes/neon-dark.css" >

    <script src="/static/global/modeSelector.js"></script>
</head>
<body class="primary">
    <div class="container">
        <div class="row min-vh-100">
            <div class="col-sm-12 col-md-8 col-lg-4 mx-auto my-auto">
                <div class="card m-3">
                    <div class="card-body container-fluid">
                        <h5 class="card-title">Tornium TOTP</h5>

                        <form method="POST" action="/login/totp">
                            <div class="form-floating">
                                <div class="input-group">
                                    <input type="text" minlength="0" maxlength="6" required class="form-control" id="totp-token" name="totp-token">
                                    <button type="submit" class="btn btn-outline-success input-group-text">Validate</button>

                                    <input type="hidden" id="client-token">
                                </div>

                                <div class="form-text pt-1">
                                    If you are locked out of your device that handles TOTP, please use a backup code
                                    (not yet implemented) or contact <a href="https://torn.com/profiles.php?XID=2383326">tiksan [2383326]</a>
                                    on Torn only.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            const params = new Proxy(new URLSearchParams(window.location.search), {
              get: (searchParams, prop) => searchParams.get(prop),
            });

            $("#client-token").attr("value", params.token)
        });
    </script>
</body>
</html>
