{% extends 'base.html' %}

{% block title %}
Tornium - Chain Generator
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/stats">Stat DB</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/stats/chain">Chain List Generator</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
 <div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/stats/db">
                <i class="col-1 col-sm-2 fa-solid fa-database"></i> <span class="col">Database</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/stats/chain">
                <i class="col-1 col-sm-2 fa-solid fa-bars"></i> <span class="col">Chain List Generator</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.aa %}
        <div class="row mb-3">
            <a class="nav-link" href="/stats/config">
                <i class="col-1 col-sm-2 fa-solid fa-hand-fist"></i> <span class="col">Faction Configuration</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Chain List Generator (BETA)</h5>
            <p class="card-text">
                The chain list generator uses the data from <a href="/stat/db">stat database</a> to generate a list of potential targets to attack based on the passed configuration.
                A difficulty, sorting order, and limit must be selected before generating the list of targets.
                <br />
                For details about how the chain list generator works and more details, check out the <a href="https://docs.tornium.com/en/latest/user/statdb/chainlist.html">documentation</a>.
            </p>

            <div class="px-3 py-3 row">
                <div class="col-sm-12 col-md-12 col-lg-6 card">
                    <div class="card-header">
                        Configuration Options
                    </div>
                    <div class="card-body">
                        <div class="btn-group flex-wrap d-flex justify-content-around" role="group" aria-label="Difficulty Options">
                            <button type="button" class="btn btn-outline-success difficulty-button" data-difficulty="0">Very Easy</button>
                            <button type="button" class="btn btn-outline-success difficulty-button" data-difficulty="1">Easy</button>
                            <button type="button" class="btn btn-outline-warning difficulty-button" data-difficulty="2">Medium</button>
                            <button type="button" class="btn btn-outline-danger difficulty-button" data-difficulty="3">Hard</button>
                            <button type="button" class="btn btn-outline-danger difficulty-button" data-difficulty="4">Very Hard</button>
                        </div>
                        <hr>
                        <div class="btn-group d-flex justify-content-around" role="group" aria-label="Sorting Options">
                            <button type="button" class="btn btn-outline-primary sorting-button" id="recently-updated-sort">Recently Updated</button>
                            <button type="button" class="btn btn-outline-primary sorting-button" id="highest-respect-sort">Highest Respect</button>
                            <button type="button" class="btn btn-outline-primary sorting-button" id="random-sort">Random</button>
                        </div>
                        <hr>
                        <div class="btn-group d-flex justify-content-center" role="group" aria-label="Limit Options">
                            <button type="button" class="btn btn-outline-primary limit-button" data-limit="10">10 Targets</button>
                            <button type="button" class="btn btn-outline-primary limit-button" data-limit="25">25 Targets</button>
                            <button type="button" class="btn btn-outline-primary limit-button" data-limit="50">50 Targets</button>
                        </div>
                        <hr>
                        <div class="btn-group d-flex justify-content-center" role="group" aria-label="Generate List">
                            <button type="button" class="btn btn-outline-success" id="generate-list">Generate Chain List</button>
                        </div>
                    </div>
                </div>

                <div class="pt-3 me-2 row" id="targets-container">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="stats-modal" tabindex="-1" aria-labelledby="stats-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stat-modal-label"></h5>
                <button class="btn">
                    <a href="#" id="stat-modal-attack-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-crosshairs"></i>
                    </a>
                    <a href="#" id="stat-modal-profile-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-id-card"></i>
                    </a>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="stat-modal-body"></div>
        </div>
    </div>
</div>

<script src="/static/stats/list.js"></script>
{% endblock %}
