{% extends 'base.html' %}

{% block title %}
Tornium - Stat DB Config
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'stats/navbar.html' %}

<div class="py-3 px-3">
    <div class="card min-w-25 max-w-50">
        <div class="card-body">
            <h5 class="card-title">Stat DB</h5>
            <p class="card-text">
                Select enabled if you'd like faction attacks to be collected and defender stat estimates to be stored
                in the stat DB. Select disabled if you'd like faction attacks to not be collected and stored.
            </p>
            <form class="form-floating" method="POST" action="/stats/config">
                {% if config['stat'] == 0 %}
                <input type="submit" class="btn btn-primary" id="statenabled" name="statenabled" value="Enabled">
                <input type="submit" class="btn btn-primary active" disabled id="statdisabled" name="statdisabled" value="Disabled">
                {% else %}
                <input type="submit" class="btn btn-primary active" disabled id="statenabled" name="statenabled" value="Enabled">
                <input type="submit" class="btn btn-primary" id="statdisabled" name="statdisabled" value="Disabled">
                {% endif %}
            </form>
        </div>
    </div>
</div>

<div class="pbs-3 px-3">
    <div class="card min-w-25 max-w-50">
        <div class="card-body">
            <h5 class="card-title">Global Sharing</h5>
            <p class="card-text">
                Select enabled if you'd like all faction stat estimates to be shared with everyone. Select disabled
                if you'd like all faction stat estimates to only be shared within the faction.
            </p>
            <form class="form-floating" method="POST" action="/stats/config">
                {% if config['global'] == 0 %}
                <input type="submit" class="btn btn-primary" id="enabled" name="enabled" value="Enabled">
                <input type="submit" class="btn btn-primary active" disabled id="disabled" name="disabled" value="Disabled">
                {% else %}
                <input type="submit" class="btn btn-primary active" disabled id="enabled" name="enabled" value="Enabled">
                <input type="submit" class="btn btn-primary" id="disabled" name="disabled" value="Disabled">
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
