{% extends 'base.html' %}

{% block title %}
Tornium - Stat DB
{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'stats/navbar.html' %}

<div class="container h-100">
    <div class="py-3">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-list"></i>
                Features
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-database"></i>
                            Stat DB - a database of Torn users and their battle stat ranges
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-bars"></i>
                            Chain List - a utility to generate a chain list at or close to a Fair Fight of 3x from the users in the Stat DB
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
