@import "link";
@import "input";
@import "paragraph";
@import "table";

@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/fonts/JetBrainsMono-Light.woff2") format("woff");
}

body {
    font-family: "JetBrains Mono", serif;
    height: 100dvh;
    overflow: auto;
  
    // For scrolling past the top and bottom of the viewport
    background-color: var(--secondary-bg-color) !important;
}

html {
    height: 100dvh;
    overflow: hidden;
}

html[data-bs-theme="custom-dark"] #tornium-icon {
    filter: invert(100%);
}

html[data-bs-theme="neon-dark"] #tornium-icon {
    filter: invert(100%);
}

@mixin visually-hidden {
    // Hide an element but keep it visible to screen readers
    // Source: https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visually-hidden {
    @include visually-hidden
}
