{% extends "base.html" %}

{% block title %}
Tornium - Faction Calendar
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/faction">Faction</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/faction/calendar">Calendar</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
{% include "faction/subnav.html" %}
{% endblock %}

{% block styles %}
<style>
#view-type-card {
    width: fit-content;
}

calendar-viewport {
    height: min(100vh, fit-content);
}

calendar-timeline {
    display: grid;
    overflow-y: hidden;
    grid-template-columns: 1fr 4px 1fr;

    position: relative;
    height: 100%;
    min-height: 0;

    color: var(--text-color);

    touch-action: none;
}

calendar-timeline calendar-timeline-axis {
    grid-column: 2;
    height: 100%;

    background-color: var(--text-alternate-color);
}

calendar-timeline calendar-timeline-track {
    position: relative;

    width: 100%;
    height: 100%;
}

calendar-timeline calendar-timeline-track .timeline-event-period {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    left: 10%;
    border: 2px solid #ffffff40;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

calendar-grid .calendar-grid-month-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
}

calendar-grid .calendar-grid-month-label {
    width: 100%;

    text-align: center;
    color: var(--text-color);
}

calendar-grid calendar-grid-month {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    grid-auto-rows: 100px;
    gap: 1px;
}

calendar-grid calendar-grid-month calendar-grid-day {
    display: flex;
    flex-direction: column;

    gap: 2px;
    padding: 0.5rem;
    min-height: 100px;

    overflow: hidden;
}

calendar-grid calendar-grid-month calendar-grid-day .calendar-grid-day-label {
    font-size: 0.75em;
    color: var(--text-color);
}

calendar-grid calendar-event {
    color: var(--text-color);
    font-size: 0.75em;

    margin-top: 1.75rem;
    padding: 2px 4px;
    border-radius: 3px;
    align-self: start;

    white-space: nowrap;
    overflow: hidden;
}

calendar-grid calendar-event:nth-of-type(n+2) {
    margin-top: 3.25rem;
}

calendar-grid calendar-event.event-segment-start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

calendar-grid calendar-event.event-segment-middle {
    border-radius: 0;
}

calendar-grid calendar-event.event-segment-end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
</style>
{% endblock %}

{% block content %}
<div class="p-3 h-100">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Faction Calendar</h5>
            <p class="card-text">
                {# TODO: Add a docs page #}
                This calendar lists faction events, steadfast changes, Torn events/competitions, RWs, etc.
                For more information, see the <a href="https://docs.tornium.com/" target="_blank" rel="noopener noreferrer">documentation</a>.
                Members with AA permissions will be able to add events to the faction calendar. This faction calendar can then be loaded as an
                image to be used outside of Tornium or viewed on Tornium as a calendar or as a timeline.
            </p>
        </div>
    </div>

    <calendar-viewport class="d-flex flex-column">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-12 col-lg-4">
                <div class="card my-3" id="view-type-card">
                    <div class="card-header">Calendar View</div>
                    <ul class="list-group list-group-flush" id="view-type-list">
                        <li class="list-group-item">
                            <label class="d-flex">
                                <input type="radio" name="view-type-selector" autocomplete="off" value="timeline">
                                <p class="card-text px-3 w-100">Timeline</p>
                            </label>
                        </li>

                        <li class="list-group-item">
                            <label class="d-flex">
                                <input type="radio" name="view-type-selector" autocomplete="off" value="calendar">
                                <p class="card-text px-3 w-100">Calendar</p>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 mt-lg-auto mb-3 d-flex flex-column align-items-end align-content-between">
                {% if current_user.faction_aa %}
                <a class="btn btn-outline-secondary mb-3" style="width: fit-content;" href="/faction/calendar/new">Create Event</a>
                {% endif %}

                <calendar-timeline-controls hidden>
                    <button class="btn btn-outline-secondary btn-sm" id="calendar-timeline-zoom-in">Zoom In</button>
                    <button class="btn btn-outline-secondary btn-sm" id="calendar-timeline-zoom-out">Zoom Out</button>
                    <button class="btn btn-outline-secondary btn-sm" id="calendar-timeline-pan-past">Pan Past</button>
                    <button class="btn btn-outline-secondary btn-sm" id="calendar-timeline-pan-future">Pan Future</button>
                </calendar-timeline-controls>

                <calendar-grid-controls hidden>
                    <button class="btn btn-outline-secondary btn-sm" id="calendar-grid-previous">Previous Month</button>
                    <button class="btn btn-outline-secondary btn-sm" id="calendar-grid-next">Next Month</button>
                </calendar-grid-controls>
            </div>
        </div>

        <calendar-timeline class="border rounded mt-3 flex-grow-1" hidden></calendar-timeline>
        <calendar-grid class="row border rounded flex-grow-1" hidden></calendar-grid>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@js-temporal/polyfill@0.5.1/dist/index.umd.min.js"></script>
<script src="/static/faction/calendar.js" data-faction-id="{{ current_user.faction_id }}"></script>
<script src="/static/faction/calendar-timeline.js" data-faction-id="{{ current_user.faction_id }}"></script>
<script src="/static/faction/calendar-grid.js" data-faction-id="{{ current_user.faction_id }}"></script>
{% endblock %}
