{% extends 'base.html' %}

{% block title %}
Tornium - OCs
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot">Discord Bot</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot/dashboard">Server Selector</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/bot/dashboard/{{ guildid }}">Server Configuration</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/bot/dashboard/{{ guildid }}/oc">OC Configuration</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
<div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/bot/dashboard">
                <i class="col-1 col-sm-2 fa-solid fa-gauge-simple-high"></i> <span class="col">Server Selector</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row p-3">
    {% for faction in factions %}
    <div class="col-sm-12 col-md-6">
        <div class="card mt-3 faction-oc-card" data-faction-id="{{ faction.tid }}">
            <div class="card-header">{{ faction.name }} [{{ faction.tid }}]</div>
            <div class="px-3 pb-3">
                {% if faction.has_migrated_oc %}
                <p class="card-text">
                    <!-- TODO: Add info about this feature. -->

                    {% if faction.aa_keys_missing %}
                    <hr />
                    <small class="pb-2">No faction AA keys available</small>
                    <hr />
                    {% endif %}
                </p>

                <p class="card-text">
                    <b>Missing Tools:</b> Notifications regarding OCs that are currently missing a tool/material.
                </p>

                <div class="row w-100 ps-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Missing Tools Channel</div>
                        <select
                            class="discord-channel-selector oc-tool-channel w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Missing Tools Channel"
                            data-live-search="true"
                            data-selected-channel="{{ faction.server_oc_config.tool_channel }}"
                        >
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Missing Tools Roles (Optional)</div>
                        <select
                            class="discord-role-selector oc-tool-roles w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Missing Tools Role"
                            data-live-search="true"
                            data-selected-text-format="count > 2"
                            data-selected-roles="{{ faction.server_oc_config.tool_roles }}"
                            multiple
                        ></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Missing Tools Crimes (Optional)</div>
                        <select
                            class="oc-name-selector oc-tool-crimes w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Missing Tools Crimes"
                            data-live-search="true"
                            data-selected-text-format="count > 2"
                            data-selected-crimes='{{ faction.server_oc_config.tool_crimes }}'
                            multiple
                        ></select>
                    </div>
                </div>

                <hr />

                <p class="card-text">
                    <b>Delayed Members:</b> Notifications regarding OCs being delayed by members flying, hospitalized, etc.
                </p>

                <div class="row w-100 ps-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Delayed Channel</div>
                        <select
                            class="discord-channel-selector oc-delayed-channel w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Delayed OC Channel"
                            data-live-search="true"
                            data-selected-channel="{{ faction.server_oc_config.delayed_channel }}"
                        >
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Delayed Roles (Optional)</div>
                        <select
                            class="discord-role-selector oc-delayed-roles w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Delayed OC Role"
                            data-live-search="true"
                            data-selected-text-format="count > 2"
                            data-selected-roles="{{ faction.server_oc_config.delayed_roles }}"
                            multiple
                        ></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Delayed Crimes (Optional)</div>
                        <select
                            class="oc-name-selector oc-delayed-crimes w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Delayed OC Crimes"
                            data-live-search="true"
                            data-selected-text-format="count > 2"
                            data-selected-crimes="{{ faction.server_oc_config.delayed_crimes }}"
                            multiple
                        ></select>
                    </div>
                </div>

                <hr />

                <p class="card-text">
                    <b>Initialized OCs:</b> Notifications regarding OCs being initialized.
                    
                    <br />
                    <br />
                    Not yet implemented
                </p>

                <hr />

                <p class="card-text">
                    <b>Stalled OCs:</b> Notifications regarding OCs that are stalled where not all slots are filled but filled slots are completed.
                    
                    <br />
                    <br />
                    Not yet implemented
                </p>

                <hr />
                <p class="card-text">
                    <b>OC Teams:</b> Notifications regarding OC teams set up by the faction.
                </p>

                <div class="row w-100 ps-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Team Channel</div>
                        <select
                            class="discord-channel-selector oc-team-channel w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="OC Team Channel"
                            data-live-search="true"
                            data-selected-channel="{{ faction.server_oc_config.team_channel }}"
                        >
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Team Features</div>
                        <select
                            class=" oc-team-features w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="OC Team Features"
                            data-live-search="true"
                            data-selected-text-format="count > 2"
                            multiple
                            autocomplete="off"
                        >
                            <option value=""></option>
                            <option value="team_spawn_required" {% if "team_spawn_required" in faction.server_oc_config.team_features %} selected {% endif %}>OC spawn required</option>
                            <option value="">Team members need to join OC</option>
                            <option value="">Team member joined incorrect OC</option>
                            <option value="assigned_team" {% if "assigned_team" in faction.server_oc_config.team_features %} selected {% endif %}>OC team assigned to an OC</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Team Roles (Optional)</div>
                        <select
                            class="discord-role-selector oc-team-roles w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="OC Team Role"
                            data-live-search="true"
                            data-selected-text-format="count > 2"
                            data-selected-roles="{{ faction.server_oc_config.team_roles }}"
                            multiple
                        >
                            <option value="-1">Relevant Individual(s)</option>
                        </select>
                    </div>
                </div>

                <hr />

                <p class="card-text">
                    <b>Extra-Range OCs:</b> Notifications regarding OCs that have members with CPRs in a slot that is too low or too high
                </p>

                <div class="row w-100 ps-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Extra-Range Channel</div>
                        <select
                            class="discord-channel-selector oc-range-channel w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Extra-Range OC Channel"
                            data-live-search="true"
                            data-selected-channel="{{ faction.server_oc_config.extra_range_channel }}"
                        >
                            <option value="0">Disabled</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="ms-2 mt-1 fw-bold">Extra-Range Roles (Optional)</div>
                        <select
                            class="discord-role-selector oc-range-roles w-100"
                            data-faction="{{ faction.tid }}"
                            aria-label="Extra-Range OC Role"
                            data-live-search="true"
                            data-selected-text-format="count > 2"
                            data-selected-roles="{{ faction.server_oc_config.extra_range_roles }}"
                            multiple
                        ></select>
                    </div>

                    <div class="col-sm-12">
                        <div class="ms-2 mt-1 fw-bold">Extra-Range Global Minimum-Maximum</div>
                        <div class="input-group">
                            <span class="input-group-text">Min</span>
                            <input
                                type="number"
                                class="form-control oc-range-global-min"
                                data-faction="{{ faction.tid }}"
                                aria-label="Minimum Global CPR"
                                value="{{ faction.server_oc_config.extra_range_global_min }}"
                                autocomplete="off"
                            >

                            <span class="input-group-text">Max</span>
                            <input
                                type="number"
                                class="form-control oc-range-global-max"
                                data-faction="{{ faction.tid }}"
                                aria-label="Maximum Global CPR"
                                value="{{ faction.server_oc_config.extra_range_global_max }}"
                                autocomplete="off"
                            >
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="ms-2 mt-1 fw-bold">Extra-Range Per-OC Minimum-Maximum</div>
                        <div class="list-group list-group-range-crimes" data-faction="{{ faction.tid }}">
                            <div class="list-group-item" aria-disabled="true" disabled>
                                <!-- TODO: Add name describing this select input -->
                                <select
                                    class="oc-name-selector oc-range-crimes w-100"
                                    data-faction="{{ faction.tid }}"
                                    aria-label="Extra-Range Crimes"
                                    data-live-search="true"
                                    data-selected-text-format="count > 2"
                                    data-selected-crimes="{{ faction.server_oc_config.local_range_crimes }}"
                                    multiple
                                ></select>
                            </div>

                            {% for crime_config in faction.server_oc_config.local_range_configs %}
                            <div class="list-group-item" data-crime-name="{{ crime_config.oc_name }}">
                                <div class="fw-bold">{{ crime_config.oc_name }}</div>
                                <div class="input-group">
                                    <span class="input-group-text">Min</span>
                                    <input
                                        type="number"
                                        class="form-control oc-range-local-min"
                                        aria-label="Minimum CPR for {{ crime_config.oc_name }}"
                                        data-crime-name="{{ crime_config.oc_name }}"
                                        value="{{ crime_config.minimum }}"
                                        autocomplete="off"
                                    >

                                    <span class="input-group-text">Min</span>
                                    <input
                                        type="number"
                                        class="form-control oc-range-local-max"
                                        aria-label="Maximum CPR for {{ crime_config.oc_name }}"
                                        data-crime-name="{{ crime_config.oc_name }}"
                                        value="{{ crime_config.maximum }}"
                                        autocomplete="off"
                                    >
                                </div>
                            </div>
                            {% endfor %}

                            <div class="list-group-item default-oc-range-value" {% if faction.server_oc_config.local_range_configs|length != 0 %} hidden {% endif %}>
                                No OCs selected. Using global min/max for all OCs.
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p class="card-text">
                    <b>NOTE:</b> This faction has not yet migrated to Organized Crimes 2.0; to configure this faction's OCs notifications, please create a ticket on Tornium's Discord server. If this faction has recently migrated to OCs 2.0, it may take up to an hour for this change to be reflected on Tornium.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/global/discord.js" data-guildid="{{ guildid }}"></script>
<script src="/static/global/oc.js"></script>
<script src="/static/bot/oc.js"></script>
{% endblock %}
