{% extends 'base.html' %}

{% block title %}
Tornium - Chain Generator
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/stats">Stat DB</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/stats/chain">Chain List Generator</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
<div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/stats/db">
                <i class="col-1 col-sm-2 fa-solid fa-database"></i> <span class="col">Database</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/stats/chain">
                <i class="col-1 col-sm-2 fa-solid fa-bars"></i> <span class="col">Chain List Generator</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.faction_aa %}
        <div class="row mb-3">
            <a class="nav-link" href="/stats/config">
                <i class="col-1 col-sm-2 fa-solid fa-hand-fist"></i> <span class="col">Faction Configuration</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
@media (max-width: 768px) {
    .dataTables_scrollHead {
        /*
        Header of table after initialized as a datatable
        TODO: Determine how this can be added to the SCSS bundle without affecting tables that are not .card-table
        */
        display: none;
    }
}
</style>
{% endblock %}

{% block content %}
<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Chain List Generator (ALPHA)</h5>
            <p class="card-text">
                The chain list generator uses the data from <a href="/stat/db">stat database</a> to generate a list of potential targets to attack based on the passed configuration.
                See the <a href="https://docs.tornium.com/tutorial/chain-list.html">tutorial</a> for chain list generators for more information on generating chain lists.
            </p>

            <div class="px-3 py-3 row">
                <div class="col-sm-12 col-md-12 col-lg-6 card">
                    <div class="card-header">
                        Configuration Options
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="d-flex flex-wrap flex-lg-nowrap justify-content-lg-between">
                                <div>
                                    <legend>Minimum Difficulty (FF)</legend>
                                    <select aria-label="Minimum FF" autocomplete="off" id="config-minimum-difficulty">
                                        <option value="1.25">Very Easy (1.25x)</option>
                                        <option value="1.75">Easy (1.75x)</option>
                                        <option value="2">Medium (2x)</option>
                                        <option value="2.25">Hard (2.25x)</option>
                                        <option value="2.5">Very Hard (2.5x)</option>
                                        <option value="3">Formidable (3x)</option>
                                    </select>
                                </div>

                                <div>
                                    <legend>Maximum Difficulty (FF)</legend>
                                    <select aria-label="Minimum FF" autocomplete="off" id="config-maximum-difficulty">
                                        <option value="1.75">Very Easy (1.75x)</option>
                                        <option value="2">Easy (2x)</option>
                                        <option value="2.25">Medium (2.25x)</option>
                                        <option value="2.5">Hard (2.5x)</option>
                                        <option value="3">Very Hard (3x)</option>
                                        <option value="3.4">Formidable (3.4x)</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        <hr>

                        <fieldset>
                            <div class="d-flex flex-wrap flex-lg-nowrap justify-content-lg-between">
                                <div>
                                    <legend>Minimum Level</legend>
                                    <input type="number" class="form-control" minimum="1" maximum="100" aria-label="Minimum Level" autocomplete="off" id="config-minimum-level" value="1" required>
                                </div>

                                <div>
                                    <legend>Maximum Level</legend>
                                    <input type="number" class="form-control" minimum="1" maximum="100" aria-label="Maximum Level" autocomplete="off" id="config-maximum-level" value="100" required>
                                </div>
                            </div>
                        </fieldset>

                        <hr>

                        <fieldset>
                            <legend>Sort By</legend>
                            <select aria-label="Sort By" autocomplete="off" id="config-sort-by">
                                <option value="recently-updated">Recently Updated</option>
                                <option value="highest-respect">Highest Respect</option>
                                <option value="random">Random</option>
                            </select>
                        </fieldset>

                        <hr>

                        <fieldset>
                            <legend>Limit</legend>
                            <select aria-label="Limit" autocomplete="off" id="config-limit">
                                <option value="10">10 Targets</option>
                                <option value="25">25 Targets</option>
                                <option value="50">50 Targets</option>
                                <option value="100">100 Targets</option>
                            </select>
                        </fieldset>

                        <hr>

                        <fieldset>
                            <legend>Other Options</legend>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="config-inactive-only" autocomplete="off">
                                <label class="form-check-label" for="config-inactive-only">Inactive Only</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="config-factionless-only" autocomplete="off">
                                <label class="form-check-label" for="config-factionless-only">Factionless Only</label>
                            </div>
                        </fieldset>

                        <div class="d-flex justify-content-center mt-3 w-100" aria-label="Generate List">
                            <button type="button" class="btn btn-outline-success" id="generate-list-button">Generate Chain List</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3 card">
                    <div class="card-header">Chain List</div>
                    <div class="card-body">
                        <p class="card-text" id="default-chain-list-text">Please generate a chain list first...</p>
                        <div id="chain-list-viewer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/stats/list.js"></script>
{% endblock %}
