{% extends 'base.html' %}

{% block title %}
Tornium - Stat DB Config
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Tornium</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/stats">Stat DB</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/stats/config">Faction Configuration</a>
    </li>
</ol>
{% endblock %}

{% block subnav %}
<div class="row pt-3 border-top">
    <div class="container-fluid px-md-3">
        <div class="row mb-3">
            <a class="nav-link" href="/stats/db">
                <i class="col-1 col-sm-2 fa-solid fa-database"></i> <span class="col">Database</span>
            </a>
        </div>

        <div class="row mb-3">
            <a class="nav-link" href="/stats/chain">
                <i class="col-1 col-sm-2 fa-solid fa-bars"></i> <span class="col">Chain List Generator</span>
            </a>
        </div>

        {% if current_user.is_authenticated and current_user.faction_aa %}
        <div class="row mb-3">
            <a class="nav-link" href="/stats/config">
                <i class="col-1 col-sm-2 fa-solid fa-hand-fist"></i> <span class="col">Faction Configuration</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="pbs-3 px-3">
    <div class="card min-w-25 max-w-50 mt-3">
        <div class="card-body">
            <h5 class="card-title">Global Sharing</h5>
            <p class="card-text">
                Select enabled if you'd like all faction stat estimates to be shared with everyone. Select disabled
                if you'd like all faction stat estimates to only be shared within the faction.
            </p>
            <form class="form-floating" method="POST" action="/stats/config">
                {% if stats_global %}
                <input type="submit" class="btn btn-outline-primary" disabled id="enabled" name="enabled" value="Enabled">
                <input type="submit" class="btn btn-outline-primary" id="disabled" name="disabled" value="Disabled">
                {% else %}
                <input type="submit" class="btn btn-outline-primary" id="enabled" name="enabled" value="Enabled">
                <input type="submit" class="btn btn-outline-primary" disabled id="disabled" name="disabled" value="Disabled">
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
